<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>我的余额</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="../../statics/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../statics/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../statics/css/css.css"/>
    <script  type="text/javascript" src="../../statics/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="../../statics/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="../../statics/js/index.js"></script>

    <!--[if lte IE 9]>
    <script type="text/javascript" src="../../statics/js/html5.min.js"></script>
    <script type="text/javascript" src="../../statics/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--header star-->
<div class="navbar navbar-default navbar-fixed-top top-main ">
    <div class="container-fluid top-bar p0 car_bg f12 bl3">
        <div class="container row m p0">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 tr">
                <div id="log_bar_link" class="log_bar_link r gray" style="display:none;">
                    <a class=" pr10" href="../login.html">登录</a><span class="white">|</span>
                    <a class=" pl10" href="../register.html">注册</a>
                </div>
                <div class="nav r user_info" >
                    <div class=" dropdown ">
                        <a class="nav-link dropdown-toggle">admin<i class="icon_down"></i></a>
                        <div class="dropdown-menu " style="display: none" >
                            <a class="dropdown-item" href="../my/my_account.html">我的账户</a>
                            <a class="dropdown-item" href="../my/my_money.html">我的余额</a>
                            <a class="dropdown-item" href="../my/primary.html">我的资料</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar_block">
        <div class="container row p0 m ">
            <div class="col-lg-2 "><a href=""><img class="logo" src="../../statics/images/logo.png" alt="" ></a></div>
            <div class="col-lg-10 mt20">
                <!--nav-->
                <div class="row">
                    <div class="col-lg-12 nav " >
                        <ul class="nav-con navbar-nav">
                            <li ><a href="../index.html" id="h_index" >首页</a></li>
                            <li class=" dropdown ">
                                <a class="nav-link dropdown-toggle cur">我的<i class="icon_down"></i></a>
                                <div class="dropdown-menu " style="display: none" >
                                    <a class="dropdown-item" href="../my/my_account.html">我的账户</a>
                                    <a class="dropdown-item" href="../my/my_money.html">我的余额</a>
                                    <a class="dropdown-item" href="../my/information.html">我的资料</a>
                                    <a class="dropdown-item" href="../my/message.html">我的消息</a>
                                </div>
                            </li>
                            <li ><a href="../main/recharge.html" >充值</a></li>
                            <li ><a href="../main/trans_cash.html" >提现</a></li>
                            <li ><a href="../main/transfer_accounts.html" >转账</a></li>
                            <li><a href="../currency_exchange/exchange.html">货币兑换</a></li>
                            <li ><a href="../nonCardCash/cash_in.html">无卡取现</a></li>
                            <li class=" dropdown ">
                                <a class="nav-link dropdown-toggle">更多<i class="icon_down"></i></a>
                                <div class="dropdown-menu " style="display: none" >
                                    <a class="dropdown-item" href="../more/financial.html">智慧理财</a>
                                    <a class="dropdown-item" href="../more/life_payment.html">生活缴费</a>
                                    <a class="dropdown-item" href="../more/trade_list.html">交易记录</a>
                                    <a class="dropdown-item" href="../more/active_list.html">活动记录</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <!--nav-->
            </div>
        </div>
    </div>
</div>

<div class=" p0 m0 fix-frist-top">
    <div class="turn swiper-container " style="background:url(../../statics/images/pt.jpg) no-repeat center ; height: 500px; width:100%;" ></div>
</div>
<!--banner end-->

<div class="container p0 m0 fix-frist-top pt30">
    <div class="col-lg-3 ">
        <div class="panel panel-default bid_menu">
            <h4 class=" menu_title">我的</h4>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default membercollhead">
                    <div class="panel-heading" role="tab" id="heading1">
                        <h4 class="panel-title">
                            <a href="my_account.html" class="collapsed">
                                <i></i>我的账户
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default membercollhead">
                    <div class="panel-heading" role="tab" id="heading2">
                        <h4 class="panel-title">
                            <a href="my_money.html" class="collapsed">
                                <i></i>我的余额
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default membercollhead">
                    <div class="panel-heading" role="tab" id="heading4">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="">
                                <i></i>我的资料
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class=" collapse in" role="tabpanel" aria-labelledby="heading4" aria-expanded="true">
                        <div class="">
                            <ul>
                                <li ><a href="information.html">基本信息</a></li>
                                <li><a href="login_psw.html">登录密码</a></li>
                                <li ><a href="pay_psw.html">资金密码</a></li>
                                <li ><a href="bank_card.html">银行卡绑定</a></li>
                                <li><a href="bind_account.html">支付宝/微信绑定</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default membercollhead">
                    <div class="panel-heading" role="tab" id="heading5">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="">
                                <i></i>我的消息
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class=" collapse in" role="tabpanel" aria-labelledby="heading5" aria-expanded="true">
                        <div class="">
                            <ul>
                                <li ><a href="message.html#main_con">写信给他人</a></li>
                                <li><a href="write_service.html#main_con">写信给客服</a></li>
                                <li ><a href="inbox.html#main_con">收件箱</a></li>
                                <li ><a href="outbox.html#main_con">发件箱</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--左侧菜单end-->
    <div class="col-lg-9 r_whitebg" style="min-height: 558px">
        <h4 class=" page_title">我的余额</h4>
        <div class=" money_block  p0 m">
          <div class="row  " >
              <div class=" rmb  pl20 pt15">
                  <div class="mb30 f14  red">账户余额****0101（元）</div>
                  <b class="f36 white ">0.00</b>
              </div>
          </div>
            <div class="row  " >
                <div class=" dollar  pl20 pt15">
                    <div class="mb30 f14  green">账户余额****0101（元）</div>
                    <b class="f36 white ">0.00</b>
                </div>
            </div>
        </div>
    </div>
</div>
<!--通用脚本-->
<div class="footer">
    <div class="container row p0 m mt20 border-t tc pt20 pb20 ">
        <a href="../index.html" target="_blank">首页</a><span>|</span>
        <a href="../my/primary.html" target="_blank">我的</a><span>|</span>
        <a href="../nonCardCash/cash_in.html" target="_blank">无卡取现</a><span>|</span>
        <a href="../currency_exchange/exchange.html" target="_blank">货币兑换</a><span>|</span>
        <a href="../more/financial.html" target="_blank">更多</a>
    </div>
</div>
</body>
</html>