<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>首页</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="../statics/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../statics/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../statics/css/css.css"/>
    <script  type="text/javascript" src="../statics/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="../statics/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="../statics/js/swiper.min.js"></script>
    <script  type="text/javascript" src="../statics/js/jquery.fadethis.min.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="../statics/js/html5.min.js"></script>
    <script  type="text/javascript" src="../statics/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="index">
<!--header star-->
<div class="navbar navbar-default navbar-fixed-top top-main " style="background:rgba(0,0,0,0.0) ;" >
    <div class="container-fluid top-bar p0 car_bg f12 bl3">
        <div class="container row m p0">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 tr">
                <div id="log_bar_link" class="log_bar_link r gray">
                    <a class=" pr10" href="login.html">登录</a><span class="white">|</span>
                    <a class=" pl10" href="register.html">注册</a>
                </div>
                <div class="nav r user_info"  style="display:none;" >
                    <div class=" dropdown ">
                        <a class="nav-link dropdown-toggle">admin<i class="icon_down"></i></a>
                        <div class="dropdown-menu " style="display: none" >
                            <a class="dropdown-item" href="my/my_account.html">我的账户</a>
                            <a class="dropdown-item" href="my/my_money.html">我的余额</a>
                            <a class="dropdown-item" href="my/primary.html">我的资料</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar_block">
    <div class="container row p0 m ">
        <div class="col-lg-2 "><a href="index.html"><img class="logo" src="../statics/images/logo.png" alt="" ></a></div>
        <div class="col-lg-10 mt20">
            <!--nav-->
            <div class="row">
                <div class="col-lg-12 nav " >
                    <ul class="nav-con navbar-nav">
                        <li ><a href="index.html" id="h_index" class="cur">首页</a></li>
                        <li class=" dropdown ">
                            <a class="nav-link dropdown-toggle">我的<i class="icon_down"></i></a>
                            <div class="dropdown-menu " style="display: none" >
                                <a class="dropdown-item" href="my/my_account.html">我的账户</a>
                                <a class="dropdown-item" href="my/my_money.html">我的余额</a>
                                <a class="dropdown-item" href="my/information.html">我的资料</a>
                                <a class="dropdown-item" href="my/message.html">我的消息</a>
                            </div>
                        </li>
                        <li ><a href="main/recharge.html" >充值</a></li>
                        <li ><a href="main/trans_cash.html" >提现</a></li>
                        <li ><a href="main/transfer_accounts.html" >转账</a></li>
                        <li><a href="currency_exchange/exchange.html" >货币兑换</a></li>
                        <li ><a href="nonCardCash/cash_in.html" >无卡取现</a></li>
                        <li class=" dropdown ">
                            <a class="nav-link dropdown-toggle">更多<i class="icon_down"></i></a>
                            <div class="dropdown-menu " style="display: none" >
                                <a class="dropdown-item" href="more/financial.html">智慧理财</a>
                                <a class="dropdown-item" href="more/life_payment.html">生活缴费</a>
                                <a class="dropdown-item" href="more/trade_list.html">交易记录</a>
                                <a class="dropdown-item" href="more/active_list.html">活动记录</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <!--nav-->
        </div>
    </div>
    </div>
</div>
<!--header end-->
    <div class=" p0 m0 ">
        <!--<div class="turn swiper-container " style="background: url(../statics/images/banner.png) no-repeat center; height: 600px; width:100%; z-index: 0"  ></div>-->
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url(../statics/images/banner.jpg) no-repeat  center; height: 640px; width:100%; z-index: 0"></div>
                <div class="swiper-slide" style="background: url(../statics/images/ban.jpg) no-repeat  center; height: 640px; width:100%; z-index: 0"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>

    </div>
    <!--banner end-->
<div class="w100 inblock white_bg pb50">
    <div class="container row p0 m mt20">
        <div class=" m" style="width: 80%">
            <div class="row index_btn">
                <div class="col-lg-4 tc slide-bottom"  data-plugin-options='{"speed":400,"replay":false}'>
                    <div class="show_block">
                        <img src="../statics/images/icon_transfer.png">
                        <h3 class="fno f18 mt30">转账</h3>
                        <div class="hover_block" style="display: none">
                        <p class="gray mt10">实时到账，快速流转</p>
                        <a href="main/transfer_accounts.html" target="_blank" class="btn btn-primary white mt20 w100">立即进入</a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 tc slide-bottom"  data-plugin-options='{"speed":400,"replay":false}'>
                    <div class="show_block">
                        <img src="../statics/images/icon_cash.png">
                        <h3 class="fno f18 mt30">提现</h3>
                        <div class="hover_block" style="display: none">
                        <p class="gray mt10">资金实时到账快速回笼</p>
                        <a href="main/trans_cash.html" target="_blank"class="btn btn-primary white mt20 w100">立即进入</a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 tc slide-bottom"  data-plugin-options='{"speed":400,"replay":false}'>
                    <div class="show_block">
                        <img src="../statics/images/icon_recharge.png">
                        <h3 class="fno f18 mt30">充值</h3>
                        <div class="hover_block"  style="display: none">
                            <p class="gray mt10">便捷快速，安全放心</p>
                            <a href="main/recharge.html" target="_blank" class="btn btn-primary white mt20 w100">立即进入</a>
                         </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="quick_show w100 inblock">
        <div class="container">
            <div class="floor m">
                <div class="row">
                    <div class="col-lg-6 tr word_l slide-left"   data-plugin-options='{"speed":500,"replay":false}'>
                        <h2 class="fno cursor" onclick="window.open('nonCardCash/cash_in.html')">无卡取现</h2>
                        <p class="f18 g9 mt15">便捷快速，安全放心</p>
                    </div>
                <div class="col-lg-6 slide-right"  data-plugin-options='{"speed":500,"replay":false}'>
                    <img src="../statics/images/img_wkqx.png">
                </div>
                </div>
            </div>
            <div class="floor m">
                <div class="row">
                    <div class="col-lg-6 tr slide-left"  data-plugin-options='{"speed":500,"replay":false}'>
                        <img src="../statics/images/img_hbdh.png">
                    </div>
                    <div class="col-lg-6 tl word_r slide-right"  data-plugin-options='{"speed":500,"replay":false}'>
                        <h2 class="fno cursor" onclick="window.open('currency_exchange/exchange.html')">货币兑换</h2>
                        <p class="f18 g9 mt15">多种选择，灵活管理</p>
                    </div>
                </div>
            </div>
            <div class="floor m">
                <div class="row">
                    <div class="col-lg-6 tr word_l slide-left"  data-plugin-options='{"speed":500,"replay":false}'>
                        <h2 class="fno cursor" onclick="window.open('more/financial.html')">智慧理财</h2>
                        <p class="f18 g9 mt15">资金有规划，踏实又省心</p>
                    </div>
                    <div class="col-lg-6 slide-right"  data-plugin-options='{"speed":500,"replay":false}'>
                        <img src="../statics/images/img_zhlc.png">
                    </div>
                </div>
            </div>
            <div class="floor m">
                <div class="row">
                    <div class="col-lg-6 tr slide-left"  data-plugin-options='{"speed":500,"replay":false}'>
                        <img src="../statics/images/img_shjf.png">
                    </div>
                    <div class="col-lg-6 tl word_r slide-right"  data-plugin-options='{"speed":500,"replay":false}'>
                        <h2 class="fno cursor" onclick="window.open('more/life_payment.html')">生活缴费</h2>
                        <p class="f18 g9 mt15">轻松消费，汇聚生活</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--通用脚本-->
    <div class="footer slide-bottom" data-plugin-options='{"speed":300,"replay":true}'>
        <div class="container row p0 m mt20 border-t tc pt20 pb20 ">
            <a href="index.html" target="_blank">首页</a><span>|</span>
            <a href="my/primary.html" target="_blank">我的</a><span>|</span>
            <a href="nonCardCash/cash_in.html" target="_blank">无卡取现</a><span>|</span>
            <a href="currency_exchange/exchange.html" target="_blank">货币兑换</a><span>|</span>
            <a href="more/financial.html" target="_blank">更多</a>
        </div>
    </div>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        effect: 'fade',
        speed:800,
        loop:true,
        autoplay:true,
        autoplayDisableOninteraction:false,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>

<script type="text/javascript">
    $(function(){
        $(".show_block").hover(function(){
            $(this).find(".hover_block").toggleClass("show");
        });
        $(window).fadeThis();

    })
</script>
</body>
</html>