<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>添加角色</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/logo.png">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.notify.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
</head>

<body class="flat-blue common_body">
<div class="bs-component">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/mainframe">系统首页</a></li>
        <li class="breadcrumb-item">后台成员</li>
        <li class="breadcrumb-item active">添加角色</li>
    </ol>
</div>
<div class="page-title">
    <span class="title">添加角色</span>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <form id="addform" >
                    <div class="form-group">
                        <label class="col-form-label" >角色名：</label>
                        <input class="form-control" type="text" name="rolename" placeholder="请输入角色名">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" >添加权限：</label>
                        <div class="powerlist"></div>
                        <input type="hidden" name="authdis" id="realrole">
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary w100" onclick="addsubmit()">确认添加 </button>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        loadpower();

    })
    // 点击check添加样式
    $(document).on('click','.checkcustom label',function(){
        $(this).toggleClass("on");
    });

    /*check全选*/
    $("input[rel='box_check_all']").on("click",function(){
        if($(this).prop("checked")===true){
            $("input[name='checklist']").prop("checked",$(this).prop("checked")).siblings().addClass("on")

        }else{
            $("input[name='checklist']").prop("checked",false).siblings().removeClass("on")
        }
    });

    // 添加角色addsubmit
    function addsubmit() {
        var idlist ="";
        $('#addform input:checkbox[name=checklist]:checked').each(function(k){
            if(k == 0){
                idlist = $(this).val();
            }else{
                idlist += ','+$(this).val();
            }
        });
        $("#realrole").val(idlist);
        $.ajax({
            url: '/role/addRole',
            data: $('#addform').serialize(),
            type: 'post',
            success: function (data) {
                if (strToJson(data).code == "success") {
                    sweetAlert("", "恭喜您！添加成功！", "success");
                    setTimeout(function () {
                        window.location.href = "/manage/manage_role";
                    }, 1500);
                }
                else if (data.code=="403") {
                    sweetAlert({
                            title: "",
                            text: "您的账号权限不足，无法操作此页面！",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            cancelButtonText: "取消",
                            closeOnConfirm: false,
                            closeOnCancel: true
                        },
                        function(isConfirm){
                            if (isConfirm) {
                                window.location.href = "/mainframe";
                            }
                        });
                }
                else {
                    sweetAlert("", strToJson(data).message, "error");
                }

            },
            error: function () {
                sweetAlert("", "请求失败！", "error");
            }
        });
    }
    // 获取权限列表
    function loadpower() {
        $.ajax({
            url: '/authoirty/queryAll',
            data: null,
            type: 'get',
            success: function (data) {
                if (data.code=="403") {
                    sweetAlert({
                            title: "",
                            text: "您的账号权限不足，无法操作此页面！",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            cancelButtonText: "取消",
                            closeOnConfirm: false,
                            closeOnCancel: true
                        },
                        function(isConfirm){
                            if (isConfirm) {
                                window.location.href = "/mainframe";
                            }
                        });
                }
                else {
                    var jsonObj = $.parseJSON(data);//json字符串转数组
                    for (var i = 0; i < jsonObj.length; i++) {
                        var html = '<div class="checkcustom tc checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light"> <input type="checkbox" id="checkx' + jsonObj[i].id + '" name="checklist" value="' + jsonObj[i].id + '"> <label for="checkx' + jsonObj[i].id + '">' + jsonObj[i].authoirtyname + '</label></div>';
                        $(".powerlist").append(html);

                    }
                }

            },
            error: function (data) {
                handleAjaxError();//超时登录或接口异常
            }
        })
    }
</script>
</body>

</html>
