<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>成员角色</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <!-- CSS App -->
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script  type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
</head>

<body class="flat-blue common_body">
<div class="bs-component">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/mainframe">系统首页</a></li>
        <li class="breadcrumb-item">后台成员</li>
        <li class="breadcrumb-item active">成员角色</li>
    </ol>
</div>
<div class="page-title">
    <span class="title">成员角色</span>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table class="datatable table table-striped" id="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>角色名</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                </table>
                <div class="batch_play inblock">
                    <div class="inblock">
                        <!--<a href="javascript:;" onclick="deletbatch()" class="blue mr10">删除</a>|-->
                        <a class="blue ml10" href="/manage/add_role" >添加</a></div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--修改角色 模态框 （Modal） -->
<div class="modal fade" id="myModal_dollar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" id="myModalLabel"> 修改角色</h4>
            </div>
            <div class="modal-body">
                <form id="myform" >
                    <input type="hidden" id="userid" name="id">
                    <div class="form-group">
                        <label class="col-form-label" >旧角色名：</label>
                        <input class="form-control" type="text"  readonly id="oldrolename">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" >新角色名：</label>
                        <input class="form-control" type="text" name="rolename" placeholder="请输入新的角色名">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w100" onclick="submitform()">确认修改 </button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->

<!--权限控制 模态框 （Modal） -->
<div class="modal fade" id="mypower" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" ><span class="blue" id="rolename"></span>权限控制</h4>
            </div>
            <div class="modal-body">
                <form id="powerform" >
                    <input type="hidden" name="roleid" id="roleid">
                    <div class="form-group">
                        <label class="col-form-label" >添加权限：</label>
                        <div class="powerlist"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w100" onclick="roleform()">修改权限 </button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
<script type="text/javascript">

    $(function () {
        loadpower();
        $('#table').DataTable( {
            "order": [ 2, "desc" ],
            "serverSide": true,
            searching: true,
            lengthChange: true,
            paging: true,
            scrollCollapse: true,
            serverSide: false,
            search: true,
            processing: true,
            /* scrollY: 500,   表格的高度限制*/
            scrollX: "100%",
            scrollXInner: "100%",
            scrollCollapse: true,
            jQueryUI: false,
            autoWidth: true,
            autoSearch: false,
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项搜索结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "暂无数据",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            ajax: {
                url: "/role/queryAll",
                dataSrc: function (data) {
                    if (data.code=="403") {
                        sweetAlert({
                                title: "",
                                text: "您的账号权限不足，无法操作此页面！",
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonText: "确定",
                                cancelButtonText: "取消",
                                closeOnConfirm: false,
                                closeOnCancel: true
                            },
                            function(isConfirm){
                                if (isConfirm) {
                                    window.location.href = "/mainframe";
                                }
                            });
                    }
                    else{ return data;}
                } ,
                error: handleAjaxError //接口返回异常，超时登录
            },
            "fnDrawCallback"    : function(){
                this.api().column(0).nodes().each(function(cell, i) {
                    cell.innerHTML =  i + 1;
                });
            },
            "columns": [
                {"data": "id" },
                {"data": "rolename" },
                {"data": "createtime" },
                {"data": "id",
                    render:function(e,type,full,row){
                        return "<a href='javascript:;'  onclick='deletbatch("+full.id+")'  class=\"icon_delete\" title=\"删除\">删除</a> | <a href='javascript:;'  data-toggle=\"modal\" data-target=\"#myModal_dollar\" onclick=\"changepsw("+full.id+",'"+full.rolename+"')\" class='blue' >修改</a> |  <a href='javascript:;' data-toggle=\"modal\" data-target=\"#mypower\" onclick=\"powercontol("+full.id+",'"+full.idlist+"','"+full.rolename+"')\">权限控制</a>";
                    }
                }
            ]
        } );
        $('#myform').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'rolename': {
                    validators: {
                        notEmpty: {
                            message: '角色名不能为空'
                        }
                    }
                },
            }
        })
    })
    // 点击check添加样式
    $(document).on('click','.checkcustom label',function(){
        $(this).toggleClass("on");
    });


    // 批量删除
    function deletbatch(userid){
        var idlist =userid;
        $('input:checkbox[name=checklist]:checked').each(function(k){
            if(k == 0){
                idlist = $(this).val();
            }else{
                idlist += ','+$(this).val();
            }
            // console.log(idlist)
        });
        sweetAlert({
                title: "确定删除吗？",
                text: "你将无法恢复",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function(isConfirm){
                if (isConfirm) {
                    $.ajax({
                        type: "post", // 用POST方式传输
                        dataType: 'json',
                        url: "/role/deleteRole", // 目标地址
                        data: { id:idlist },
                        success: function (data) {
                            if (data.code=="success") {
                                sweetAlert("", "恭喜您！删除成功！", "success");
                                setTimeout(function(){ window.location.href = "/manage/manage_role";},1500);
                            }
                            else if (data.code=="403") {
                                sweetAlert({
                                    title: "",
                                    text: "您的账号权限不足，无法操作此页面！",
                                    type: "warning",
                                    showCancelButton: false,
                                    confirmButtonText: "确定",
                                    closeOnConfirm: true
                                });
                            }
                            else {
                                sweetAlert({
                                    title:"删除失败！!",
                                    text: "请选择要删除的数据！",
                                    type: "error",
                                    showCancelButton: true,
                                    confirmButtonText: "确定",
                                    cancelButtonText: "取消",
                                    closeOnConfirm: false,
                                    closeOnCancel: true
                                });
                            }
                        }
                    });
                }
            });

    }
    // 修改角色名
    function submitform() {
        $("#userid").val();
        $.ajax({
            url: '/role/updateRole',
            data: $('#myform').serialize(),
            type: 'post',
            success: function (data) {
                if (strToJson(data).code == "success") {
                    sweetAlert("", "恭喜您！修改成功！", "success");
                    setTimeout(function () {
                        window.location.href = "/manage/manage_role";
                    }, 1500);
                }
                else if (strToJson(data).code=="403") {
                    sweetAlert({
                        title: "",
                        text: "您的账号权限不足，无法操作此页面！",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonText: "确定",
                        closeOnConfirm: true
                    });
                }
                else {
                    sweetAlert("", "修改失败", "error");
                }

            },
            error: function () {
                sweetAlert("", "请求失败！", "error");
            }
        });
    }
    function changepsw(id,rolename) {
        $("#userid").val(id);
        $("#oldrolename").val(rolename);
    }

    // 点击权限控制
    function powercontol(roleid,idlist,name) {
        $("#roleid").val(roleid);
        $("#rolename").html(name);
        var jsonObj = idlist.split(',');//去掉逗号转成数组
        var obj=new Array();
        for(var j=0;j<jsonObj.length;j++){
            obj.push(jsonObj[j]);
        }
        $("input[name='checkrole']").each(function(i){
            var index = $.inArray($(this).val(), obj);
            if(index>=0){
                $('#role'+obj[index]+'').attr("checked","checked");
                $('#lable'+obj[index]+'').addClass("on");
            }
            else{
                $(this).removeAttr('checked');
                $(this).next().removeClass("on");
            }

        })
    }

    //获取权限
    function loadpower() {
        $.ajax({
            url: '/authoirty/queryAll',
            data: null,
            type: 'get',
            success: function (data) {
                if (strToJson(data).code=="403") {
                    sweetAlert({
                        title: "",
                        text: "您的账号权限不足，无法操作此页面！",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonText: "确定",
                        closeOnConfirm: true
                    });
                }
                else {
                    var jsonObj = $.parseJSON(data);//json字符串转数组
                    for (var i = 0; i < jsonObj.length; i++) {
                        var html = '<div class="checkcustom tc checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light"> <input type="checkbox" id="role' + jsonObj[i].id + '" name="checkrole" value="' + jsonObj[i].id + '"> <label id="lable' + jsonObj[i].id + '" for="role' + jsonObj[i].id + '">' + jsonObj[i].authoirtyname + '</label></div>';
                        $(".powerlist").append(html);

                    }

                }
            }
        })
    }

    //权限控制
    function roleform() {
        var roleid=$("#roleid").val();
        var idlist ="";
        $('.powerlist input:checkbox[name=checkrole]:checked').each(function(k){
            if(k == 0){
                idlist = $(this).val();
            }else{
                idlist += ','+$(this).val();
            }
        });
        // console.log(idlist);
        $.ajax({
            url: '/roleauth/batchupdate',
            data: {roleid:roleid,authids:idlist},
            type: 'post',
            success: function (data) {
                if (strToJson(data).code == "success") {
                    sweetAlert("", "恭喜您！权限控制修改成功！", "success");
                    setTimeout(function () {
                        window.location.href = "/manage/manage_role";
                    }, 1500);
                }
                else if (strToJson(data).code=="403") {
                    sweetAlert({
                        title: "",
                        text: "您的账号权限不足，无法操作此页面！",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonText: "确定",
                        closeOnConfirm: true
                    });
                }
                else {
                    sweetAlert("", "权限控制修改失败", "error");
                }

            },
            error: function () {
                sweetAlert("", "请求失败！", "error");
            }
        })
    }

</script>

</body>

</html>
