<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>货币兑换</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/swiper.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.fadethis.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/echarts.common.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="/js/html5.min.js"></script>
    <script  type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="index">
<!--header star-->
<script  type="text/javascript" src="/js/header.js"></script>
<!--header end-->
<div class=" p0 m0 fix-frist-top phone_frist-top">
    <div class="turn swiper-container " style="background:url(/images/banp.jpg) no-repeat center ; height: 500px; width:100%;background-size: cover" ></div>
</div>
<!--banner end-->

<div class=" p0 m0 fix-frist-top pt30">
    <div class="container row  p0 m white_bg pt30">
        <div class="col-lg-12 " >
            <div class="row "   >
                <div class="col-lg-3 cursor" data-toggle="modal" data-target="#myModal_dollar" onclick="modal_buy('USD')">
                    <div class="wp80 m  " >
                        <div class="card-body tc">
                            <img style="width: 100px" src="/images/icon_my.png" >
                            <h3 class="mt20 f18">买入美元</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 cursor"  data-toggle="modal" data-target="#myModal_dollar" onclick="modal_buy('CNY')">
                    <div class="wp80 m">
                        <div class="card-body tc">
                            <img style="width: 100px" src="/images/icon_rmb.png" >
                            <h3 class="mt20 f18">买入人民币</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 cursor" data-toggle="modal" data-target="#myModal_dh">
                    <div class="wp80 m">
                        <div class="card-body tc">
                            <img style="width: 100px" src="/images/icon_dh.png" >
                            <h3 class="mt20 f18">自选兑换</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 cursor"  data-toggle="modal" data-target="#myModal_btb">
                    <div class="wp80 m">
                        <div class="card-body tc">
                            <img style="width: 100px" src="/images/icon_btb.png" >
                            <h3 class="mt20 f18">比特币兑换</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inblock w100 mt50" id="chartmain" style="width:100%; height: 400px; padding: 20px"></div>

            <div class="bs-component title_tab inblock w100 mt50">
                <ul class=" nav-tabs inblock w100">
                    <li class="nav-item cur">
                        <a class="nav-link  " href="exchange_list" target= "iframename "><i class="icon_jy"></i>交易明细列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="exchange_rate_list" target= "iframename "><i class="icon_hl"></i>汇率列表</a>
                    </li>

                </ul>
            </div>
            <div class="row mt20">
                <iframe name= "iframename " src="exchange_list" style="padding: 0 20px; width: 100%; border:none;min-height: 300px" scrolling="no" ></iframe>

            </div>
        </div>



    </div>
</div>

<!--美元 模态框 （Modal） -->
<div class="modal fade" id="myModal_dollar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title buy_title" id="myModalLabel" > </h4>
            </div>
            <div class="modal-body">
                <form id="buyform">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6 tc">
                                <select class="custom-select  w100 recharcount" id="beforecount"></select>
                                <label class="col-form-label mt10">可兑余额：<b class="red" id="blance"></b></label>
                                <input type="hidden" name="srcountid" id="srcountid">
                            </div>
                            <div class="col-lg-6 tc">
                                <button type="button" class="btn btn-primary w100 mb10 fno" onclick="balance()"> 查询余额</button>
                                <label class="col-form-label" >当日汇率：<b class="red rate" id="dollatrate"></b><b class="red rate" id="rmbtrate" style="display: none"></b>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" >兑换金额<span class="warning">*</span></label>
                        <input class="form-control" placeholder="请输入要兑换的金额" name="srcmoney" id="srcmoney" oninput="exchange_money();" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" >兑换后金额<span class="warning">*</span></label>
                        <input class="form-control" value="" readonly id="exchangemoney" name="destmoney" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" >兑换到目标账户<span class="warning">*</span></label>
                        <input type="text" class="form-control" disabled id="destcountval">
                        <input type="hidden"  id="destcountid"  name="destcountid" >
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" >资金密码<span class="warning">*</span></label>
                        <input class="form-control" placeholder="请输入资金" name="paypwd" type="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w100" onclick="submitform()">提交 </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--人民币 模态框 （Modal） -->
<div class="modal fade" id="myModal_rmb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" > 买入人民币</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w100">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<!--自选兑换 模态框 （Modal） -->
<div class="modal fade" id="myModal_dh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" > 自选兑换</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-5 tc pr0">
                            <select class="custom-select  w100">
                                <option value="1">456665445544（CNY）</option>
                                <option value="2">456665445544（CNY）</option>
                            </select>
                            <label class="col-form-label mt10">可兑余额：0.00</label>
                        </div>
                        <div class="col-lg-2 tc">
                            <img src="/images/exchange.png" style="width: 35px">
                        </div>
                        <div class="col-lg-5 tc pl0">
                            <select class="custom-select  w100">
                                <option value="1">美元</option>
                                <option value="2">人民币</option>
                                <option value="2">比特币</option>
                            </select>
                            <label class="col-form-label mt10" >当日汇率：6.50</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label">兑换后金额<span class="warning">*</span></label>
                    <input class="form-control" placeholder="0.00"  disabled="" type="text">
                </div>
                <div class="form-group">
                    <label class="col-form-label" >备注<span class="warning">*</span></label>
                    <input class="form-control" placeholder=""  type="text">
                </div>
                <div class="form-group">
                    <label class="col-form-label">资金密码<span class="warning">*</span></label>
                    <input class="form-control" placeholder=""  type="text">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w100">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!--自选兑换 模态框 （Modal） -->
<div class="modal fade" id="myModal_btb" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" > 比特币兑换</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-5 tc pr0">
                            <select class="custom-select  w100">
                                <option value="1">456665445544（CNY）</option>
                                <option value="2">456665445544（CNY）</option>
                            </select>
                            <label class="col-form-label mt10">可兑余额：0.00</label>
                        </div>
                        <div class="col-lg-2 tc">
                            <img src="/images/exchange.png" style="width: 35px">
                        </div>
                        <div class="col-lg-5 tc pl0">
                            <select class="custom-select  w100">
                                <option value="1">美元</option>
                                <option value="2">人民币</option>
                            </select>
                            <label class="col-form-label mt10" >当日汇率：6.50</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label" >兑换后金额<span class="warning">*</span></label>
                    <input class="form-control" placeholder="0.00"  disabled="" type="text">
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="inputpws">资金密码<span class="warning">*</span></label>
                    <input class="form-control" placeholder=""  type="text">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w100">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!--通用脚本-->
<script  type="text/javascript" src="/js/footer.js"></script>
<input type="hidden" id="modoltype"><!--弹出窗口类型-->
<input type="hidden" id="moneyrate"><!--实际做乘法的汇率-->
<script type="text/javascript">
    $(function () {
        $(".nav-tabs .nav-item").on({click:function(){
                $(this).addClass("cur").siblings().removeClass("cur");
            }
        });
        // 清空表单


    })
</script>
<script type="text/javascript">
    $("#nav_exchange").addClass("cur");//导航栏添加焦点
    loadcount();
    //初始化echarts实例
    var myChart = echarts.init(document.getElementById('chartmain'));
    getChartData(myChart);
    //使用制定的配置项和数据显示图表
    // myChart.setOption(option);

    //美元汇率信息
    function getChartData(myChart) {
        //echart的data数据格式是{对象,对象},{对象,对象}..,而不是字符串拼接,因此生成对象，放进数组
        $.ajax({
            url: "/rate/queryAll",
            type: "get",
            data: null,
            dataType: "JSON",
            error: function (data) {
                $.Popup.error("表单数据不合法!");
            },
            success: function (data) {
                var arr = new Array();
                var obj = new Array();//美元人民币
                var rmb = new Array();//人民币美元
                var datetime = new Array();
                for (var i=1;i<7;i++)
                {
                    arr.push(data[i]);
                    // console.log(arr);
                }
                for (var j=0;j<6;j++)
                {
                    var jsondata =arr[j];
                    // console.log(jsondata);
                    obj.push(jsondata.USDCNY.openPri);
                    var rmbfix=1/jsondata.USDCNY.openPri;
                    rmb.push(rmbfix.toFixed(4));
                    datetime.push(jsondata.USDCNY.date.substring(5,10));

                }
                var lastsrate=arr[5].USDCNY.openPri;
                $("#dollatrate").html(lastsrate);
                var fixrmb=1/lastsrate;
                $("#rmbtrate").html(fixrmb.toFixed(4));

                // console.log(datetime);
                var  option = {
                    title : {
                        text: '最近一周汇率变化',
//                    subtext: '汇率变化'
                        textStyle: {
                            color: '#333' //标题颜色
                        }
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['美元人民币','人民币美元']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : datetime,
                        }
                    ],
                    yAxis : [
                        {
                            type: 'value',
                            min: 6.3,
                            max: 6.4,
                            interval:0.01,
                            splitArea: {
                                show: true
                            }
                        }
                    ],
                    series : [
                        {
                            name:'美元人民币',
                            type:'line',
                            data:obj,
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name: '平均值'}
                                ]
                            },
                            itemStyle:{
                                normal:{
                                    color: "#0390ee" //图标颜色
                                }
                            },
                            lineStyle:{
                                normal:{
                                    width:2,  //连线粗细
                                    color: "#0390ee"  //连线颜色
                                }
                            }

                        },
                        {
                            name:'人民币美元',
                            type:'line',
                            data:rmb,
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'average', name : '平均值'}
                                ]
                            }
                        }
                    ]
                };
                // console.log(option.xAxis[0].data);
                // console.log(option.series[0].data);
                myChart.setOption(option);

            }
        });

    }
    // 通过json同步获取下拉账户
    function loadcount() {
        $.ajax({
            url: '/count/queryCountByUserid',
            data: null,
            type: 'get',
            success: function (data) {
                var jsonObj = $.parseJSON(data);//json字符串转数组

                for (var i=0;i<jsonObj.length;i++)
                {
                    if(jsonObj[i].state==1){
                        var html ='<option data-id="'+jsonObj[i].countType+'" value="'+jsonObj[i].id+'">'+jsonObj[i].cardId+'('+currency_type(jsonObj[i].countType)+')'+'</option>';
                        $(".recharcount").append(html);
                    }

                }


            }
        })
    }

    // 账户余额
    function balance() {
        var countid= $("#beforecount").val();
        $.ajax({
            url: '/count/queryCount',
            data: {id:countid},
            type: 'get',
            success: function (data) {
                $("#blance").html(strToJson(data).blance)

            }
        })
    }
    $("#beforecount").change(function(){
        balance();//要触发的事件
        $.ajax({
            url: "/rate/queryAll",
            type: "get",
            data: null,
            dataType: "JSON",
            success: function (data) {
                var arr = new Array();
                var obj = new Array();//美元人民币
                var rmb = new Array();//人民币美元
                var datetime = new Array();
                for (var i=0;i<7;i++)
                {
                    arr.push(data[i]);
                    // console.log(arr);
                }
                for (var j=0;j<arr.length;j++)
                {
                    var jsondata =arr[j];
                    obj.push(jsondata.USDCNY.openPri);
                    var rmbfix=1/jsondata.USDCNY.openPri;
                    rmb.push(rmbfix.toFixed(4));
                    datetime.push(jsondata.USDCNY.date.substring(5,10));

                }
                var usdrate=arr[6].USDCNY.openPri;//美元汇率
                var cnyrate=1/usdrate; //人民币汇率
                var type = $("#modoltype").val(); //弹出框窗口类型
                var comparetype = $("#beforecount option:selected").attr("data-id");
                if (comparetype == type) {
                    $("#moneyrate").val("1");
                }
                else if(comparetype=="USD"){
                    $("#moneyrate").val(usdrate);
                }
                else if(comparetype=="CNY"){
                    $("#moneyrate").val(cnyrate.toFixed(4));
                }
                exchange_money();//触发计算兑换金额
            }
        });
    });

    // 点击弹出框
    function modal_buy(title){
        $("#modoltype").val(title);
        $("#beforecount").change();
        // 表单置空
        $("#buyform").find("input").each(function(){
            this.value = "";//清空数据;
        });
        switch(title)
        {
            case "CNY":
                $(".buy_title").html("买入人民币");
                $("#dollatrate").hide();
                $("#rmbtrate").show();
                break;
            case "USD":
                $(".buy_title").html("买入美元");
                $("#dollatrate").show();
                $("#rmbtrate").hide();
                break;
            default:
        }
        balance();
        $("#beforecount option").each(function (){
            if($(this).attr("data-id")==title){
                var txt = $(this).text();
                var realvalue=$(this).val();
                $("#destcountval").val(txt);
                $("#destcountid").val(realvalue);
            }
        });
    }
    // 买入**表单提交
    function submitform() {
        var beforereal=$("#beforecount").val();
        $("#srcountid").val(beforereal);
        //ajax的形式提交表单
        var str=$("#buyform").serializeObject(); //此处调用的就是我们写好的引入的方法，会将带有name的input，全部转为JSON。
        var datas=JSON.stringify(str) ;//返回一个新字符串
        $.ajax({
            url:'/count/exchange',
            data:{datas:datas},
            type:'post',
            success:function(data){
                if(strToJson(data).code=="success"){
                    sweetAlert("", "恭喜您！兑换成功！", "success");
                    setTimeout(function(){ window.location.href = "/more/trade_history";},1500);
                }
                else{
                    sweetAlert("","兑换失败", "error");
                }
            },
            error: function () {
                sweetAlert("","请求失败！", "error");
            }
        });
    }

    // 兑换金额换算
    function exchange_money() {
        var changebefor=  $("#srcmoney").val();//兑换金额
        var realrate=$("#moneyrate").val();//汇率
        var changeafter=realrate*changebefor;//兑换后金额
        $("#exchangemoney").val(Math.round(changeafter*10000)/10000);

    }
</script>
</body>
</html>