<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>发消息</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/moment.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="/js/html5.min.js"></script>
    <script  type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--header star-->
<script  type="text/javascript" src="/js/header.js"></script>
<!--header end-->


<div class=" p0 m0 fix-frist-top phone_frist-top">
    <div class="turn swiper-container " style="background:url(/images/pt.jpg) no-repeat center ; height: 500px; width:100%;background-size: cover" ></div>
</div>
<!--banner end-->

<div class=" p0 m0 fix-frist-top pt30">
    <div class="container row  p0 m" id="main_con">
        <div class="col-lg-3 ">
            <div class="panel panel-default bid_menu">
                <h4 class=" menu_title">我的</h4>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title">
                                <a href="/my/my_account" class="collapsed">
                                    <i></i>我的账户
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title">
                                <a href="/my/my_money" class="collapsed">
                                    <i></i>我的余额
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="">
                                    <i></i>我的资料
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class=" collapse in" role="tabpanel" aria-labelledby="heading4" aria-expanded="true">
                            <div class="">
                                <ul>
                                    <li><a href="/my/authentication" id="changetext">基本信息</a></li>
                                    <li><a href="/my/login_psw">登录密码</a></li>
                                    <li ><a href="/my/pay_psw">资金密码</a></li>
                                    <li ><a href="/my/bank_card">银行卡绑定</a></li>
                                    <li><a href="/my/bind_account">支付宝绑定</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading5">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5" class="">
                                    <i></i>我的消息
                                </a>
                            </h4>
                        </div>
                        <div id="collapse5" class=" collapse in" role="tabpanel" aria-labelledby="heading5" aria-expanded="true">
                            <div class="">
                                <ul>
                                    <li ><a href="/my/message">发消息</a></li>
                                    <li ><a href="/my/inbox">收件箱</a></li>
                                    <li ><a href="/my/outbox">发件箱</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--左侧菜单end-->
        <div class="col-lg-9 r_whitebg" style="min-height: 556px">
            <h4 class=" page_title">发消息</h4>
            <div class="inblock w100">
                <form id="subform">
                    <div class="form-group">
                        <label class="col-form-label" >收件人手机号<span class="warning">*</span></label>
                        <input class="form-control" placeholder="请输入收件人电话（仅限本平台用户手机号）" name="receivecount" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">主题<span class="warning">*</span></label>
                        <input class="form-control" placeholder="请输入邮件主题" name="title" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" >内容<span class="warning">*</span></label>
                        <textarea class="form-control" rows="8" placeholder="请输入邮件内容" name="content"></textarea>
                    </div>
                    <button type="button" onclick="submitform()" class="btn btn-primary btn-lg btn-block f14 mt15">提 交</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--通用脚本-->
<script  type="text/javascript" src="/js/footer.js"></script>

<script type="text/javascript">
    $(function () {
        $(".nav-tabs .nav-item").on({click:function(){
                $(this).addClass("cur").siblings().removeClass("cur");
            }
        });
        $("#nav_my").addClass("cur");//导航栏添加焦点
        $('#subform').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'receivecount': {
                    validators: {
                        notEmpty: {
                            message: '手机号不可以为空'
                        },
                        regexp: {
                            regexp: /^1[356789][0-9]{9}$/,
                            message: '手机号非法'
                        }
                    }

                },
                'title': {
                    validators: {
                        notEmpty: {
                            message: '标题不可以为空'
                        }
                    }
                },
                'content': {
                    validators: {
                        notEmpty: {
                            message: '内容不能为空'
                        }
                    }
                }
            }
        })
    })

    // 发消息
    function submitform() {
        $('#subform').data('bootstrapValidator').enableFieldValidators('receivecount', true);
        $('#subform').data('bootstrapValidator').enableFieldValidators('title', true);
        $('#subform').data('bootstrapValidator').enableFieldValidators('content', true);
        $('#subform').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#subform').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {
            $.ajax({
                url: '/message/send',
                data: $('#subform').serialize(),
                type: 'post',
                success: function (data) {
                    if (strToJson(data).code == "success") {
                        sweetAlert("", "恭喜您！消息发送成功！", "success");
                        setTimeout(function () {
                            window.location.href = "/my/outbox";
                        }, 1500);
                    }
                    else {
                        sweetAlert("", strToJson(data).message, "error");
                    }
                },
                error: function () {
                    sweetAlert("", "请求失败！", "error");
                }
            });
        }
    }

</script>
</body>
</html>