<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>登录页</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="/js/html5.min.js"></script>
    <script  type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login_bg">
<div class="m " style="width: 455px;margin-top: 6%">
    <div class="login_logo tc"><a href="/"><img src="/images/logo.png" ></a></div>
    <div class="w100 inblock">
        <form id="registerForm">
            <div class="login_form">
                <div class="form-group  login_input mb15">
                    <i class="icon user"></i>
                    <input type="text" class="form-control" name="telphone" id="Telephone" placeholder="手机号" onkeydown="enter_down( event);" />
                </div>
                <div class="form-group login_input mb15">
                    <i class="icon password"></i>
                    <input type="password" class="form-control" name="password" onkeydown="enter_down( event);"   placeholder="密码"/>
                </div>
                <div class="w100 inblock ">
                    <div class="l ">
                        <!--<div class="custom-control custom-checkbox">-->
                        <!--<input type="checkbox" class="custom-control-input" name="RememberMe" id="customCheck1" >-->
                        <!--<label class="custom-control-label white"  for="customCheck1">记住密码</label>-->
                        <!--</div>-->
                    </div>
                    <div class="r">
                        <a href="/CN/find_psw" class="white">忘记密码</a><span class="white mr5 ml5">|</span><a href="/CN/register" class="white">注册</a>
                    </div>
                </div>
                <div class="bs-component mt10"><button type="button"  class="btn btn-primary btn-lg btn-block red_bg register_btn" id="saveID" onclick="save()">登  录</button></div>

            </div>
        </form>

    </div>
    <p class="tc mt30 g9">© 2018 Copyright 南方国际货币兑换</p>
    <p class="tc g9 pb20">客服热线：+8550968888088</p>
</div>


<script type="text/javascript">

    function save() {
        $('#registerForm').data('bootstrapValidator').enableFieldValidators('telphone', true);
        $('#registerForm').data('bootstrapValidator').enableFieldValidators('password', true);
        $('#registerForm').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#registerForm').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {
            $.ajax({
                type: "post", // 用POST方式传输
                dataType: 'json',
                url: "/user/login", // 目标地址
                data:  $("#registerForm").serialize(),
                error: function (data) {
                    sweetAlert("", "请求失败！", "error");
                },
                success: function (data) {
                    if (data.code=="fail") {
                        sweetAlert("", data.message, "error");
                        // $('#loginbtn').prop('disabled', false);
                    }
                    else {
                        sweetAlert({
                                title: "登陆成功！",
                                text: "1秒后自动跳转。",
                                type: "success",
                                showConfirmButton: false
                            },
                            function(isConfirm){
                                if (isConfirm) {
                                    window.location.href = "/CN/index";
                                }
                            });
                        setTimeout(function(){ window.location.href = "/CN/index";},1000);
                    }
                }
            })
        }
    }
    $(function () {
        $('#registerForm').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'telphone': {
                    message: '请输入正确的手机号',
                    validators: {
                        notEmpty: {
                            message: '手机号不可以为空'
                        },
                        regexp: {
                            regexp: /^1[356789][0-9]{9}$/,
                            message: '请输入正确的手机号'
                        }

                    }
                },
                'password': {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            /*长度提示*/
                            min: 6,
                            max: 30,
                            message: '密码长度必须在6到30之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: '密码由数字字母下划线和.组成'
                        }
                    }
                }
            }
        })

    })

    function enter_down(event) {
        if(event.keyCode== "13") {
            stopDefault(event);
            save();

        }
    }
    function stopDefault(e) {
        //如果提供了事件对象，则这是一个非IE浏览器
        if(e && e.preventDefault) {
            //阻止默认浏览器动作(W3C)
            e.preventDefault();
        } else {
            //IE中阻止函数器默认动作的方式
            window.event.returnValue = false;
        }
        return false;
    }
</script>


</body>
</html>