<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>注册页</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="/js/html5.min.js"></script>
    <script  type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login_bg">
<div class="m " style="width: 455px;margin-top: 150px">
    <div class="login_logo tc"><img src="/images/logo.png" ></div>
    <div class="w100 inblock">
        <form id="registerForm">
            <div class="login_form">
                <div class="form-group  login_input mb15">
                    <i class="icon user"></i>
                    <input type="text" class="form-control" name="telphone" id="Telephone" placeholder="手机号" onkeydown="javascript: if(event.keyCode == 13) save();"/>
                </div>
                <div class="form-group login_input mb15">
                    <i class="icon password"></i>
                    <input type="password" class="form-control" name="password" onkeydown="javascript: if(event.keyCode == 13) save();"  placeholder="密码"/>
                </div>
                <div class="form-group login_input ">
                    <div class="w100 inblock"><input type="text" class="form-control l" name="checkNum" placeholder="短信验证码" size="22" maxlength="10"><button type="button" class="btn btn-primary code_btn r mr5" id="getcode">发送验证码</button>
                    </div>
                </div>
                <div id="telephonenameTip"></div>
                <div class="bs-component mt30"><button type="button"  class="btn btn-primary btn-lg btn-block red_bg register_btn" id="saveID" onclick="save()">注 册</button></div>
            </div>
        </form>

    </div>
    <p class="tc mt30 g9">© 2018 Copyright 南方国际钱庄</p>
    <p class="tc g9">客服热线：</p>
</div>


<script type="text/javascript">

    function save() {
        $('#registerForm').data('bootstrapValidator').enableFieldValidators('telphone', true);
        $('#registerForm').data('bootstrapValidator').enableFieldValidators('checkNum', true);
        $('#registerForm').data('bootstrapValidator').enableFieldValidators('password', true);
        $('#registerForm').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#registerForm').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {
            $('#saveID').prop('disabled', true);
            $.post("/user/register", $("#registerForm").serialize(), function (data) {
                if (strToJson(data).code=="success") {
                    sweetAlert("", "恭喜您！注册成功！", "success");
                    setTimeout(function () {
                        window.location.href = "/CN/login";
                    }, 1500);
                }
                else {
                    sweetAlert("", strToJson(data).message, "error");
                    $('#saveID').prop('disabled', false);
                }
            });
        }
    }
    $(function () {
        $('#registerForm').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'telphone': {
                    message: '请输入正确的手机号',
                    validators: {
                        notEmpty: {
                            message: '手机号不可以为空'
                        },
                        regexp: {
                            regexp: /^1[356789][0-9]{9}$/,
                            message: '请输入正确的手机号'
                        },
                        // remote: {//ajax验证。server result:{"valid",true or false} 向服务发送当前input name值，获得一个json数据。例表示正确：{"valid",true}
                        //     url: '/user/register',//验证
                        //     message: '用户已存在',
                        //     delay: 1000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置1秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                        //     type: 'POST'//请求方式
                        //     /**自定义提交数据，默认值提交当前input value
                        //      *  data: function(validator) {
                        //           return {
                        //               password: $('[name="passwordNameAttributeInYourForm"]').val(),
                        //               whatever: $('[name="whateverNameAttributeInYourForm"]').val()
                        //           };
                        //        }
                        //
                        //      */
                        // },
                    }
                },
                'checkNum': {
                    validators: {
                        notEmpty: {
                            message: '短信验证码不可以为空'
                        }
                    }
                },
                'password': {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            /*长度提示*/
                            min: 6,
                            max: 30,
                            message: '密码长度必须在6到30之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: '密码由数字字母下划线和.组成'
                        }
                    }
                }
            }
        })
        $("#getcode").click(function () {
            //获取输入的手机号码
            var phoNum = $("#Telephone").val();
            $('#registerForm').data('bootstrapValidator').enableFieldValidators('checkNum', false);
            $('#registerForm').data('bootstrapValidator').enableFieldValidators('password', false);
            $("#registerForm").data("bootstrapValidator").validateField('telphone');
            if (!$("#registerForm").data("bootstrapValidator").validateField('telphone').isValid()) {
                return;
            }
            curCount = count;

            // 向后台发送处理数据
            $.ajax({
                type: "post", // 用POST方式传输
                dataType: 'json',
                url: "/user/checkPhone", // 目标地址
                data: { "telphone":phoNum },
                error: function (data) {
                    sweetAlert("", strToJson(data).message, "error");
                },
                success: function (data) {
                    // debugger;
                    if (data.code=="fail") {
                        $("#getcode").attr("disabled", false);
                        $("#getcode").text("重发验证码");
                        $("#telephonenameTip").html("<font color='red'>× 短信验证码发送失败，请重新发送</font>");
                        return false;

                    } else {
                        // 设置按钮显示效果，倒计时
                        $("#getcode").attr("disabled", "true");
                        $("#getcode").text("请在" + curCount + "秒后重试");
                        InterValObj = window.setInterval(SetRemainTime, 1000); // 启动计时器，1秒执行一次
                        $("#telephonenameTip").html("<font color='#339933'>√ 短信验证码已发到您的手机,请查收(20分钟内有效)</font>");
                    }
                }
            });

        });
    });

    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);// 停止计时器
            $("#getcode").attr("disabled", false);
            $("#getcode").text("重发验证码");
            $("#telephonenameTip").text("");

            code = ""; // 清除验证码。如果不清除，过时间后，输入收到的验证码依然有效
        } else {
            curCount--;
            $("#getcode").text("请在" + curCount + "秒后重试");
        }
    }
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    var code = ""; //验证码
    var codeLength = 6;//验证码长度
</script>


</body>
</html>