<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>电费代缴</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/moment.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="/js/html5.min.js"></script>
    <script  type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--header star-->
<script  type="text/javascript" src="/js/header.js"></script>

<div class=" p0 m0 fix-frist-top phone_frist-top">
    <div class="turn swiper-container " style="background:url(/images/bwrs.jpg) no-repeat center ; height: 500px; width:100%;background-size: cover" ></div>
</div>
<!--banner end-->

<div class=" p0 m0 fix-frist-top pt30">
    <div class="container row  p0 m" id="main_con">
        <div class="col-lg-3 col-xs-12">
            <div class="panel panel-default bid_menu"  style="min-height: 475px;">
                <h4 class=" menu_title">更多</h4>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title">
                                <a href="/CN/more/financial" class="collapsed">
                                    <i></i>智慧理财
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="">
                                    <i></i>生活缴费
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class=" collapse in" role="tabpanel" aria-labelledby="heading4" aria-expanded="true">
                            <div class="">
                                <ul>
                                    <li ><a href="/CN/more/phone_charge#main_con">话费充值</a></li>
                                    <li><a href="/CN/more/water_charge#main_con">水费代缴</a></li>
                                    <li ><a href="/CN/more/ele_charge#main_con">电费代缴</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title">
                                <a href="/CN/more/trade_list" class="collapsed">
                                    <i></i>交易记录
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title">
                                <a href="/CN/more/active_list" class="collapsed">
                                    <i></i>活动记录
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--左侧菜单end-->
        <div class="col-lg-9 col-xs-12 r_whitebg">
            <h3 class="page_title">电费代缴</h3>
            <div class="inblock w100 ">
                <form id="subform">
                    <div class="form-group">
                        <label class="col-form-label">选择支出账户<span class="warning">*</span></label>
                        <select class="custom-select  w100" id="recharcount" field="count"></select>
                        <input  name="countId" type="hidden" id="realid">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="inputje">电费单号<span class="warning">*</span></label>
                        <input class="form-control icon_money" placeholder="请输入电费单号" id="inputje" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="inputbz">充值金额<span class="warning">*</span></label>
                        <input class="form-control"  id="inputbz" type="text" placeholder="请输入充值金额">
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block f14" onclick="submitform()">提 交</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--通用脚本-->
<script  type="text/javascript" src="/js/footer.js"></script>

<script type="text/javascript">
    $(function () {
        $(".nav-tabs .nav-item").on({click:function(){
                $(this).addClass("cur").siblings().removeClass("cur");
            }
        });
        loadcount();//获取下拉账户
        $("#nav_more").addClass("cur");//导航栏添加焦点
        $('#subform').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'cardNum': {
                    validators: {
                        notEmpty: {
                            message: '充值金额不可以为空'
                        },
                        digits: {
                            message: '充值金额只能包含数字。'
                        }
                    }
                },
                'phone': {
                    validators: {
                        notEmpty: {
                            message: '手机号不可以为空'
                        },
                        regexp: {
                            regexp: /^1[356789][0-9]{9}$/,
                            message: '手机号非法'
                        }
                    }
                },
                'count':{
                    validators:{
                        notEmpty:{
                            message:'请选择支出账户'
                        },
                        callback: {
                            message: '必须选择一个支出账户',
                            callback: function(value, validator)
                            {
                                if (value == 0) {
                                    return false;
                                } else {
                                    return true;
                                }

                            }
                        }
                    }
                }
            }
        })
    })
    // 通过json同步获取下拉账户
    function loadcount() {
        $.ajax({
            url: '/count/queryCountByUserid',
            data: null,
            type: 'get',
            success: function (data) {
                var jsonObj = $.parseJSON(data);//json字符串转数组
                for (var i=0;i<jsonObj.length;i++)
                {
                    var html ='<option value="'+jsonObj[i].id+'">'+jsonObj[i].cardId+'('+currency_type(jsonObj[i].countType)+')'+'</option>';
                    $("#recharcount").append(html);
                }
                // console.log(jsonObj[0].cardId+'('+jsonObj[0].countType+")")

            },
        })
    }

    // 电费代缴
    function submitform() {
        $('#subform').data('bootstrapValidator').enableFieldValidators('cardNum', true);
        $('#subform').data('bootstrapValidator').enableFieldValidators('phone', true);
        $('#subform').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#subform').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {
            var real = $("#recharcount").val();
            $("#realid").val(parseInt(real));
            console.log(parseInt(real));
            $.ajax({
                url: '/mobile/payMent',
                data: $('#subform').serialize(),
                type: 'post',
                success: function (data) {
                    if (data.code == "success") {
                        sweetAlert("", "恭喜您！充值成功！", "success");
                        setTimeout(function () {
                            window.location.href = "/CN/more/trade_history";
                        }, 1500);
                    }
                    else {
                        sweetAlert("", "充值失败", "error");
                    }
                },
                error: function () {
                    sweetAlert("", "请求失败！", "error");
                }
            });
        }
    }

</script>
</body>
</html>