<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>转账申请</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
</head>

<body class="flat-blue common_body">
<div class="bs-component">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/mainframe">系统首页</a></li>
        <li class="breadcrumb-item">消息通知</li>
        <li class="breadcrumb-item active">转账申请</li>
    </ol>
</div>
<div class="page-title">
    <span class="title">转账申请</span>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table class="datatable table table-striped" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th width="30"><div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
                            <input type="checkbox" id="checkbox-fa-light-all" checked="">
                            <label for="checkbox-fa-light-all">
                            </label>
                        </div></th>
                        <th>用户</th>
                        <th>支出账户</th>
                        <th>接收账户</th>
                        <th>金额</th>
                        <th>申请时间</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
                            <input type="checkbox" id="checkbox-fa-light-1" checked="">
                            <label for="checkbox-fa-light-1">
                            </label>
                        </div></td>
                        <td>18305976106</td>
                        <td>21546878787（人民币）</td>
                        <td>21521245450（人民币）</td>
                        <td>1000（人民币）</td>
                        <td>2018-04-21 09:21:12</td>
                        <td>无</td>
                        <td>修改</td>
                    </tr>
                    <tr>
                        <td><div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
                            <input type="checkbox" id="checkbox-fa-light-1" checked="">
                            <label for="checkbox-fa-light-1">
                            </label>
                        </div></td>
                        <td>18305976106</td>
                        <td>21546878787（人民币）</td>
                        <td>21521245450（人民币）</td>
                        <td>1000（人民币）</td>
                        <td>2018-04-21 09:21:12</td>
                        <td>无</td>
                        <td>修改</td>
                    </tr>
                    <tr>
                        <td><div class="checkbox3 checkbox-success checkbox-inline checkbox-check checkbox-round  checkbox-light">
                            <input type="checkbox" id="checkbox-fa-light-1" checked="">
                            <label for="checkbox-fa-light-1">
                            </label>
                        </div></td>
                        <td>18305976106</td>
                        <td>21546878787（人民币）</td>
                        <td>21521245450（人民币）</td>
                        <td>1000（人民币）</td>
                        <td>2018-04-21 09:21:12</td>
                        <td>无</td>
                        <td>修改</td>
                    </tr>






                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!-- Javascript Libs -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-switch.min.js"></script>

<script type="text/javascript" src="/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/js/select2.full.min.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="/js/app.js"></script>
</body>

</html>
