<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>充值表单</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/moment.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="/js/html5.min.js"></script>
    <script  type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--header star-->
<script  type="text/javascript" src="/js/header.js"></script>
<!--header end-->

<div class=" p0 m0 fix-frist-top phone_frist-top">
    <div class="turn swiper-container " style="background:url(/images/hlw.jpg) no-repeat center ; height: 500px; width:100%;background-size: cover" ></div>
</div>
<!--banner end-->

<div class=" p0 m0 fix-frist-top pt30">
    <div class="container row  p0 m">
        <div class="col-lg-3 ">
            <div class="panel panel-default bid_menu" style="min-height: 550px;">
                <h4 class=" menu_title">交易</h4>
                <div class="panel panel-default membercollhead">
                    <div class="panel-heading" role="tab" id="heading1">
                        <h4 class="panel-title">
                            <a href="/main/recharge" class="collapsed">
                                <i></i> 充值
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="">
                                    <i></i>提现
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class=" collapse in" role="tabpanel" aria-labelledby="heading4" aria-expanded="true">
                            <div class="">
                                <ul>
                                    <li><a href="/main/pos_Bank">从银行提现</a></li>
                                    <li><a href="/main/pos_Alipay">从支付宝提现</a></li>
                                    <li ><a href="/main/pos_WeChat">从微信提现</a></li>
                                    <li ><a href="/main/pos_cash">现金提现</a></li>
                                    <li ><a href="/main/pos_bitcoin">比特币提现</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title">
                                <a href="/main/transfer_accounts" class="collapsed">
                                    <i></i> 转账
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--左侧菜单 end-->
        <div class="col-lg-9 r_whitebg">
            <h3 class="page_title">充值</h3>
            <div class="bs-component">
                <div class="alert alert-dismissible alert-primary">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p >请在{备注}中填写付款人的姓名/电话等付款相关的信息，我们将第一时间处理您的请求。</p>
                </div>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
            <div class="inblock w100">
                <form id="rechargeform">
                    <div class="form-group">
                        <label class="col-form-label w100">选择充值账户<span class="warning">*</span></label>
                        <select class="custom-select  w100" id="recharcount" field="count">

                        </select>
                        <input type="hidden" id="realcount" name="countId">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="inputje">金额<span class="warning">*</span></label>
                        <input class="form-control" placeholder="请输入金额" id="inputje" name="tradeMoney" type="text">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="rechartype">充值方式</label>
                        <input class="form-control" name="payType" disabled=""  value="" id="rechartype" type="text">
                    </div>
                    <button type="button" onclick="submitform()" class="btn btn-primary btn-lg btn-block f14">提 交</button>
                </form>
            </div>

        </div>
    </div>
</div>

<!--通用脚本-->
<script  type="text/javascript" src="/js/footer.js"></script>

<script type="text/javascript">
    $(function(){
        $("#nav_transfer").addClass("cur");//导航栏添加焦点
        loadcount();//获取下拉账户
        var typeval=GetQueryString("payType");
        switch(typeval)
        {
            case '1':
                $("#rechartype").val("银行");
                $(".page_title").html("银行充值");
                break;
            case '2':
                $("#rechartype").val("支付宝");
                $(".page_title").html("支付宝充值");
                break;
            case '3':
                $("#rechartype").val("微信");
                $(".page_title").html("微信充值");
                break;
            case '4':
                $("#rechartype").val("比特币");
                $(".page_title").html("比特币充值");
                break;
            default:

        }
        $('#rechargeform').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'tradeMoney': {
                    validators: {
                        notEmpty: {
                            message: '转账金额不可以为空'
                        },
                        digits: {
                            message: '转账金额只能包含数字。'
                        }
                    }
                },
                'count':{
                    validators:{
                        notEmpty:{
                            message:'请选择支出账户'
                        },
                        callback: {
                            message: '必须选择一个支出账户',
                            callback: function(value, validator)
                            {
                                if (value == 0) {
                                    return false;
                                } else {
                                    return true;
                                }

                            }
                        }
                    }
                }
            }
        })
    })
    // 通过json同步获取下拉账户
    function loadcount() {
        $.ajax({
            url: '/count/queryCountByUserid',
            data: null,
            type: 'get',
            success: function (data) {
                var jsonObj = $.parseJSON(data);//json字符串转数组
                for (var i=0;i<jsonObj.length;i++)
                {
                    var html ='<option value="'+jsonObj[i].cardId+'">'+jsonObj[i].cardId+'('+currency_type(jsonObj[i].countType)+')'+'</option>';
                    $("#recharcount").append(html);
                }
                if(jsonObj.length==0){
                    sweetAlert({
                            title: "请先申请账户，才能进行操作！",
                            type: "warning",
                            confirmButtonText: "去申请",
                            closeOnConfirm: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.href = "/my/my_account";
                            }
                        });
                }

            }
        })
    }

    function submitform() {
        $('#rechargeform').data('bootstrapValidator').enableFieldValidators('tradeMoney', true);
        $('#rechargeform').data('bootstrapValidator').enableFieldValidators('payType', true);
        $('#rechargeform').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#rechargeform').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {
            var real = $("#recharcount").val();
            $("#realcount").val(real);
            console.log($("#realcount").val());
            //ajax的形式提交表单
            var str = $("#rechargeform").serializeObject(); //此处调用的就是我们写好的引入的方法，会将带有name的input，全部转为JSON。
            var datas = JSON.stringify(str);//返回一个新字符串
            // console.log(str);
            // console.log(datas);
            $.ajax({
                url: '/pay/recharge',
                data: {datas: datas},
                type: 'post',
                success: function (data) {
                    if (data.code == "success") {
                        sweetAlert("", "恭喜您！充值成功！", "success");
                        setTimeout(function () {
                            window.location.href = "/more/trade_history";
                        }, 1500);
                    }
                    else {
                        sweetAlert("", "充值失败", "error");
                    }
                },
                error: function () {
                    sweetAlert("", "请求失败！", "error");
                }
            });
        }
    }
</script>
</body>
</html>