<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>处理中</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/logo.png">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <!-- CSS App -->
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script  type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
</head>

<body class="flat-blue common_body">
<div class="bs-component">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/mainframe">系统首页</a></li>
        <li class="breadcrumb-item">任务处理</li>
        <li class="breadcrumb-item active">处理中</li>
    </ol>
</div>
<div class="page-title">
    <span class="title">处理中</span>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table class="datatable table table-striped" id="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th >序号</th>
                        <th>任务类型</th>
                        <th>申请人</th>
                        <th>任务内容</th>
                        <th>任务状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                </table>
            </div>

        </div>
    </div>
</div>


<!--详细内容 模态框 （Modal） -->
<div class="modal fade" id="myModal_dollar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" id="myModalLabel">任务详细内容</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label" >内容：</label>
                    <div class="w100 inblock" >
                        <p id="taskcontent" style="line-height: 2"></p>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
<script type="text/javascript">
    $(function () {
        information();
    })
    function tablelist() {
        $('#table').DataTable( {
            "order": [ 5, "desc" ],
            "serverSide": true,
            searching: true,
            lengthChange: true,
            paging: true,
            scrollCollapse: true,
            serverSide: false,
            search: true,
            processing: true,
            /* scrollY: 500,   表格的高度限制*/
            scrollX: "100%",
            scrollXInner: "100%",
            scrollCollapse: true,
            jQueryUI: false,
            autoWidth: true,
            autoSearch: false,
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项搜索结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "暂无数据",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            ajax: {
                url: "/task/queryMarkdo",
                dataSrc: function (data) {
                    if (data.code=="403") {
                        sweetAlert({
                                title: "",
                                text: "您的账号权限不足，无法操作此页面！",
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonText: "确定",
                                cancelButtonText: "取消",
                                closeOnConfirm: false,
                                closeOnCancel: true
                            },
                            function(isConfirm){
                                if (isConfirm) {
                                    window.location.href = "/mainframe";
                                }
                            });
                    }
                    else{ return data;}
                },
                error: handleAjaxError //接口返回异常，超时登录
            },
            "fnDrawCallback"    : function(){
                this.api().column(0).nodes().each(function(cell, i) {
                    cell.innerHTML =  i + 1;
                });
            },
            "columns": [
                {"data": "id"},
                {"data": "taskname" },
                {"data": "operauser" },
                {"data": "taskcontent" ,
                    render:function(e,type,full,row){
                        return "<a href='javascript:;' data-toggle=\"modal\" data-target=\"#myModal_dollar\" class=\"blue text_overflow width120\" onclick=\"detail_task('"+full.taskcontent+"')\">"+full.taskcontent+"</a>"
                    }
                },
                {"data": "state" ,
                    render:function(e,type,full,row){
                        return "<span class=\"red\">"+full.state+"</span>"
                    }
                },
                {"data": "createtime" },
                {"data": "id" ,
                    render:function(e,type,full,row){
                        return "<a href='javascript:;' onclick='deal_task("+full.id+")'>确定处理</a>"
                    }
                }
            ]
        } );
    }
    //不是总部隐藏最后一列
    function tablehide() {
        $('#table').DataTable( {
            "order": [ 5, "desc" ],
            "serverSide": true,
            columnDefs: [ { "targets": [ 6 ], "visible": false }],
            searching: true,
            lengthChange: true,
            paging: true,
            scrollCollapse: true,
            serverSide: false,
            search: true,
            processing: true,
            /* scrollY: 500,   表格的高度限制*/
            scrollX: "100%",
            scrollXInner: "100%",
            scrollCollapse: true,
            jQueryUI: false,
            autoWidth: true,
            autoSearch: false,
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项搜索结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "暂无数据",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            ajax: {
                url: "/task/queryMarkdo",
                dataSrc: function (data) {
                    if (data.code=="403") {
                        sweetAlert({
                                title: "",
                                text: "您的账号权限不足，无法操作此页面！",
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonText: "确定",
                                cancelButtonText: "取消",
                                closeOnConfirm: false,
                                closeOnCancel: true
                            },
                            function(isConfirm){
                                if (isConfirm) {
                                    window.location.href = "/mainframe";
                                }
                            });
                    }
                    else{ return data;}
                },
                error: handleAjaxError //接口返回异常，超时登录
            },
            "fnDrawCallback"    : function(){
                this.api().column(0).nodes().each(function(cell, i) {
                    cell.innerHTML =  i + 1;
                });
            },
            "columns": [
                {"data": "id"},
                {"data": "taskname" },
                {"data": "operauser" },
                {"data": "taskcontent" ,
                    render:function(e,type,full,row){
                        return "<a href='javascript:;' data-toggle=\"modal\" data-target=\"#myModal_dollar\" class=\"blue text_overflow width120\" onclick=\"detail_task('"+full.taskcontent+"')\">"+full.taskcontent+"</a>"
                    }
                },
                {"data": "state" ,
                    render:function(e,type,full,row){
                        return "<span class=\"red\">"+full.state+"</span>"
                    }
                },
                {"data": "createtime" },
                {"data": "id" ,
                    render:function(e,type,full,row){
                        return "<a href='javascript:;' onclick='deal_task("+full.id+")'>标记处理</a>"
                    }
                }
            ]
        } );
    }
    // 读取详细信息
    function detail_task(content) {
        var str=content.replace(/,/g,'<br>');
        $("#taskcontent").html(str);
    }
    // 确认处理任务
    function deal_task(id) {
        sweetAlert({
                title: "",
                text: "确定已处理任务吗？",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function(isConfirm){
                if (isConfirm) {
                    $.ajax({
                        type: "get", // 用POST方式传输
                        dataType: 'json',
                        url: "/task/dotask", // 目标地址
                        data: { id :id },
                        success: function (data) {
                            if (data.code == "success") {
                                sweetAlert("", "恭喜您！任务处理成功！", "success");
                                setTimeout(function(){ window.location.href = "/tast/tast_finish";},1500);
                            }
                            else if (data.code=="403") {
                                sweetAlert({
                                        title: "",
                                        text: "您的账号权限不足，无法操作此页面！",
                                        type: "warning",
                                        showCancelButton: false,
                                        confirmButtonText: "确定",
                                        cancelButtonText: "取消",
                                        closeOnConfirm: false,
                                        closeOnCancel: true
                                    },
                                    function(isConfirm){
                                        if (isConfirm) {
                                            window.location.href = "/mainframe";
                                        }
                                    });
                            }else {
                                sweetAlert("", "任务处理失败！", "error");
                            }
                        } ,
                        error: function () {
                            sweetAlert("", "请求失败！", "error");
                        }
                    });
                }
            });
    }
    // 获取登录成员信息
    function information() {
        $.ajax({
            url: "/muser/getUser",
            type: "get",
            data: null,
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if(data.servicebranch=="总部"){
                    tablelist();
                }
                else {
                    tablehide()//隐藏操作一列
                }
            }
        });

    }
</script>
</body>
</html>
