<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>My Loan Page</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script  type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <script  type="text/javascript" src="/js/areajson.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="/js/html5.min.js"></script>
    <script  type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--header star-->
<script  type="text/javascript" src="/js/ENheader.js"></script>
<!--header end-->

<div class=" p0 m0 fix-frist-top phone_frist-top">
    <div class="turn swiper-container " style="background:url(/images/pt.jpg) no-repeat center ; height: 500px; width:100%;background-size: cover" ></div>
</div>
<!--banner end-->

<div class=" p0 m0 fix-frist-top pt30">
    <div class="container row  p0 m">
        <div class="col-lg-3 col-xs-12">
            <div class="panel panel-default bid_menu">
                <h4 class=" menu_title">My</h4>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title">
                                <a href="/EN/my/my_account" class="collapsed">
                                    <i></i>My Account
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title">
                                <a href="/EN/my/my_money" class="collapsed">
                                    <i></i>My Balance
                                </a>
                            </h4>
                        </div>
                        <div class="panel panel-default membercollhead">
                            <div class="panel-heading" role="tab" id="heading3">
                                <h4 class="panel-title">
                                    <a href="/EN/my/my_loan" class="collapsed">
                                        <i></i>My Lloan
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="">
                                    <i></i>My Information
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class=" collapse in" role="tabpanel" aria-labelledby="heading4" aria-expanded="true">
                            <div class="">
                                <ul>
                                    <li><a href="/EN/my/authentication" id="changetext">Basic Information</a></li>
                                    <li><a href="/EN/my/change_phone">Modify Phone Number</a></li>
                                    <li><a href="/EN/my/login_psw">login Password</a></li>
                                    <li ><a href="/EN/my/pay_psw">Money Password</a></li>
                                    <li ><a href="/EN/my/bank_card">Bank Card Binding</a></li>
                                    <li><a href="/EN/my/bind_account">Alipay Binding</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading5">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5" class="">
                                    <i></i>My Message
                                </a>
                            </h4>
                        </div>
                        <div id="collapse5" class=" collapse in" role="tabpanel" aria-labelledby="heading5" aria-expanded="true">
                            <div class="">
                                <ul>
                                    <li ><a href="/EN/my/message">Send</a></li>
                                    <li ><a href="/EN/my/inbox">Inbox</a></li>
                                    <li ><a href="/EN/my/outbox">Outbox</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--左侧菜单end-->
        <div class="col-lg-9 col-xs-12 r_whitebg" style="min-height: 558px">
            <h4 class=" page_title">My Loan</h4>
            <div class="inblock w100 mt20">
                <table width="100%"  cellspacing="0" cellpadding="0" border="1"   class="table" id="table">
                    <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Loan Amount</th>
                        <th >Term Of Loan</th>
                        <th width="60">State</th>
                        <th >Guarantee</th>
                        <th >Loan Point</th>
                        <th >Operator</th>
                        <th >Flow Number</th>
                        <th width="100">Creation Time</th>
                        <th >Operation</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--通用脚本-->
<script  type="text/javascript" src="/js/ENfooter.js"></script>

</div>
<script type="text/javascript">
    $(function () {
        $(".nav-tabs .nav-item").on({click:function(){
                $(this).addClass("cur").siblings().removeClass("cur");
            }
        });
        $("#nav_my").addClass("cur");//导航栏添加焦点
        $('#table').DataTable( {
            "order": [ 9, "desc" ],
            "serverSide": true,
            searching: false,
            lengthChange: false,
            paging: true,
            scrollCollapse: true,
            serverSide: false,
            search: false,
            processing: true,
            /* scrollY: 500,   表格的高度限制*/
            scrollX: "100%",
            scrollXInner: "100%",
            scrollCollapse: true,
            jQueryUI: false,
            autoWidth: true,
            autoSearch: false,
            ajax: {
                url: "/borrow/queryAll",
                dataSrc: '',
                error : function() {
                    window.location.href = "/EN/login";
                }
            },
            "fnDrawCallback"    : function(){
                this.api().column(0).nodes().each(function(cell, i) {
                    cell.innerHTML =  i + 1;
                });
            },
            "columns": [
                {"data": "id" },
                {"data": "num",
                    render:function(e,type,full,row){
                        return '<span>'+full.num+'('+full.moneytype+')</span>';
                    }
                },
                {"data": "term" },
                {"data": "status",
                    render:function(e,type,full,row){
                        if(full.status==1){
                            return "<span class='gray'>已还款</span>";
                        }
                        else{  return "<span class='red'>未还款</span>";}

                    }
                },
                {"data": "warrantor" },
                {"data": "servicebranch" },
                {"data": "operauser" },
                {"data": "snumber" },
                {"data": "createtime" },
                {"data": "id" ,
                    render:function(e,type,full,row){
                        return "<a href='javascript:;' class='blue'  onclick='repayment("+full.id+")'>还款</a>";
                    }
                }
            ]
        } );

    })

    // 注销账户
    function repayment(id){
        sweetAlert({
                title: "",
                text: "您将使用账户余额进行还款!",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function(isConfirm){
                if (isConfirm) {
                    $.ajax({
                        type: "post", // 用POST方式传输
                        dataType: 'json',
                        url: "/borrow/confirmdo", // 目标地址
                        data: { id :id },
                        success: function (data) {
                            if (data.code=="success") {
                                sweetAlert("", "恭喜您！还款成功！", "success");
                                setTimeout(function(){ window.location.href = "/CN/my/my_loan";},1500);
                            } else {
                                sweetAlert({
                                    title:"操作失败!",
                                    text: data.message,
                                    type: "error",
                                    showCancelButton: true,
                                    confirmButtonText: "确定",
                                    cancelButtonText: "取消",
                                    closeOnConfirm: false,
                                    closeOnCancel: true
                                });
                            }
                        }
                    });
                }
            });

    }

</script>
</body>
</html>