<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>My balance page</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/moment.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="/js/html5.min.js"></script>
    <script  type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--header star-->
<script  type="text/javascript" src="/js/ENheader.js"></script>
<!--header end-->


<div class=" p0 m0 fix-frist-top phone_frist-top">
    <div class="turn swiper-container " style="background:url(/images/pt.jpg) no-repeat center ; height: 500px; width:100%;background-size: cover" ></div>
</div>
<!--banner end-->

<div class="container p0 m0 fix-frist-top pt30">
    <div class="col-lg-3 ">
        <div class="panel panel-default bid_menu">
            <h4 class=" menu_title">My</h4>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default membercollhead">
                    <div class="panel-heading" role="tab" id="heading1">
                        <h4 class="panel-title">
                            <a href="/EN/my/my_account" class="collapsed">
                                <i></i>My account
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default membercollhead">
                    <div class="panel-heading" role="tab" id="heading2">
                        <h4 class="panel-title">
                            <a href="/EN/my/my_money" class="collapsed">
                                <i></i>My balance
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default membercollhead">
                    <div class="panel-heading" role="tab" id="heading4">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="">
                                <i></i>My information
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class=" collapse in" role="tabpanel" aria-labelledby="heading4" aria-expanded="true">
                        <div class="">
                            <ul>
                                <li><a href="/EN/my/authentication" id="changetext">Basic information</a></li>
                                <li><a href="/EN/my/login_psw">login password</a></li>
                                <li ><a href="/EN/my/pay_psw">Money password</a></li>
                                <li ><a href="/EN/my/bank_card">Bank card binding</a></li>
                                <li><a href="/EN/my/bind_account">Alipay binding</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default membercollhead">
                    <div class="panel-heading" role="tab" id="heading5">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5" class="">
                                <i></i>My message
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class=" collapse in" role="tabpanel" aria-labelledby="heading5" aria-expanded="true">
                        <div class="">
                            <ul>
                                <li ><a href="/EN/my/message">Send a message</a></li>
                                <li ><a href="/EN/my/inbox">Inbox</a></li>
                                <li ><a href="/EN/my/outbox">Outbox</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--左侧菜单end-->
    <div class="col-lg-9 r_whitebg" style="min-height: 558px">
        <h4 class=" page_title">My balance</h4>
        <div class=" money_block  p0 m">
            <div class="row  " >
                <div class=" rmb  pl20 pt15">
                    <div class="mb20 f14  red">Account<span id="rmb_count"></span>（RMB）</div>
                    <b class="f36 white " id="rmb_balance">0.00</b>
                </div>
            </div>
            <div class="row  " >
                <div class=" dollar  pl20 pt15">
                    <div class="mb20 f14  green">Account<span id="dollar_count"></span>（USD）</div>
                    <b class="f36 white "  id="dollar_balance">0.00</b>
                </div>
            </div>
        </div>
    </div>
</div>
<!--通用脚本-->
<script  type="text/javascript" src="/js/ENfooter.js"></script>
<script type="text/javascript">
    $(function () {
        $("#nav_my").addClass("cur");//导航栏添加焦点
        // 获取账户余额
        $.ajax({
            url:'/count/queryCountByUserid',
            data:null,
            type:'get',
            success:function(data){
                var item=strToJson(data);
                for (var i=0;i<item.length;i++){
                    if(item[i].countType=="CNY"){
                        $("#rmb_count").html(item[i].cardId);
                        if(item[i].state==1){
                            var rmbbalance=item[i].blance;
                            $("#rmb_balance").html(rmbbalance.toFixed(2));
                        }
                        else { $("#rmb_balance").html("<span class='f22'>The account is not available</span>");}

                    }
                    else if(item[i].countType=="USD") {
                        $("#dollar_count").html(item[i].cardId);
                        if(item[i].state==1) {
                            var dollarcount = item[i].blance;
                            $("#dollar_balance").html(dollarcount.toFixed(2));
                        }
                        else { $("#dollar_balance").html("<span class='f22'>The account is not available!</span>");}
                    }

                }


            },
            error: function () {
                sweetAlert("","Request failed", "error");
            }
        });

    })
</script>
</body>
</html>