<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>Fund Password Page</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/moment.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="/js/html5.min.js"></script>
    <script  type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--header star-->
<script  type="text/javascript" src="/js/ENheader.js"></script>
<!--header end-->


<div class=" p0 m0 fix-frist-top phone_frist-top">
    <div class="turn swiper-container " style="background:url(/images/ENpt.jpg) no-repeat center ; height: 500px; width:100%;background-size: cover" ></div>
</div>
<!--banner end-->

<div class=" p0 m0 fix-frist-top pt30">
    <div class="container row  p0 m">
        <div class="col-lg-3 col-xs-12">
            <div class="panel panel-default bid_menu" style="min-height: 595px;">
                <h4 class=" menu_title">My</h4>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title">
                                <a href="/EN/my/my_account" class="collapsed">
                                    <i></i>My Account
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title">
                                <a href="/EN/my/my_money" class="collapsed">
                                    <i></i>My Balance
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="">
                                    <i></i>My Information
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class=" collapse in" role="tabpanel" aria-labelledby="heading4" aria-expanded="true">
                            <div class="">
                                <ul>
                                    <li><a href="/EN/my/authentication" id="changetext">Basic Information</a></li>
                                    <li><a href="/EN/my/change_phone">Modify Phone Number</a></li>
                                    <li><a href="/EN/my/login_psw">login Password</a></li>
                                    <li ><a href="/EN/my/pay_psw">Money Password</a></li>
                                    <li ><a href="/EN/my/bank_card">Bank Card Binding</a></li>
                                    <li><a href="/EN/my/bind_account">Alipay Binding</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading5">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5" class="">
                                    <i></i>My Message
                                </a>
                            </h4>
                        </div>
                        <div id="collapse5" class=" collapse in" role="tabpanel" aria-labelledby="heading5" aria-expanded="true">
                            <div class="">
                                <ul>
                                    <li ><a href="/EN/my/message">Send</a></li>
                                    <li ><a href="/EN/my/inbox">Inbox</a></li>
                                    <li ><a href="/EN/my/outbox">Outbox</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--左侧菜单end-->
        <div class="col-lg-9 col-xs-12 r_whitebg">
            <h4 class=" page_title">Fund Password</h4>
            <div class="row mt20">
                <div class="inblock w100">
                    <form id="myform">
                        <div class="f16 mb20"><b style="color: #555">Mobile Phone Number：</b><b class="red" id="telnum"></b></div>
                        <input type="hidden" value="" id="phonenum" name="telphone">
                        <div class="form-group">
                            <label class="col-form-label w100" >Verification Code<span class="warning">*</span></label>
                            <input class="form-control w50 l mr15" name="checknum"  placeholder="Please enter the verification code"id="inputnum" type="text">
                            <button type="button" class="btn btn-primary f14" id="getcode">Get code</button>
                            <div class=" w100 l mt5 mb5" id="telephonenameTip"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label w100 " >Account Selection<span class="warning">*</span></label>
                            <select class="custom-select  w100 " id="recharcount"></select>
                        </div>
                        <input type="hidden" id="counid" name="id">
                        <div class="form-group">
                            <label class="col-form-label w100 " >New Fund Password<span class="warning">*</span></label>
                            <input class="form-control" placeholder="Please enter a new password" name="payPwd" type="password">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" >New Fund Password Confirmation<span class="warning">*</span></label>
                            <input class="form-control" placeholder="Please enter new password again" name="conformpaypwd" type="password">
                        </div>
                        <button type="button" class="btn btn-primary btn-lg btn-block " onclick="submitform()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--通用脚本-->
<script  type="text/javascript" src="/js/ENfooter.js"></script>

<script type="text/javascript">
    // 通过json同步获取下拉账户
    function loadcount() {
        $.ajax({
            url: '/count/queryCountByUserid',
            data: null,
            type: 'get',
            success: function (data) {
                var jsonObj = $.parseJSON(data);//json字符串转数组
                for (var i=0;i<jsonObj.length;i++)
                {
                    if(jsonObj[i].state==1) {
                        var html = '<option value="' + jsonObj[i].id + '">' + jsonObj[i].cardId + '(' + jsonObj[i].countType + ')' + '</option>';
                        $("#recharcount").append(html);
                    }
                }
                // console.log(jsonObj[0].cardId+'('+jsonObj[0].countType+")")
                // 用户没有申请账户时提示
                if(jsonObj.length==0){
                    sweetAlert({
                            title: "There is no account, please apply for an account before you can operate",
                            type: "warning",
                            confirmButtonText: "Application",
                            closeOnConfirm: false
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.href = "/EN/my/my_account";
                            }
                        });
                }

            },
        })
    }
    function submitform() {
        $('#myform').data('bootstrapValidator').enableFieldValidators('checknum', true);
        $('#myform').data('bootstrapValidator').enableFieldValidators('payPwd', true);
        $('#myform').data('bootstrapValidator').enableFieldValidators('conformpaypwd', true);
        $('#myform').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#myform').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {
            var countnum=  $("#recharcount").val();
            $("#counid").val(countnum);
            $.ajax({
                url: '/count/updateCountpwd',
                type: 'post',
                data: $("#myform").serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.code=="success") {
                        sweetAlert("", "Congratulations on your successful password change", "success");
                        setTimeout(function(){
                            // 表单置空
                            $("#myform").find("input").each(function(){
                                this.value = "";//清空数据;
                            });
                            window.location.href = "/EN/my/pay_psw";},1500);
                    }
                    else {
                        sweetAlert("", "Failed to change password", "error");
                    }
                },
                error: function () {
                    sweetAlert("", "Request failed", "error");
                }
            })

        }
    }

    $(function () {
        loadcount();
        $("#nav_my").addClass("cur");//导航栏添加焦点
        var telephonenum =$("#usertel").val();
        $("#telnum").text(telephonenum);
        $("#phonenum").val(telephonenum);

        $('#myform').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'checknum': {
                    validators: {
                        notEmpty: {
                            message: 'verification code must be filled'
                        }
                    }
                },
                'payPwd': {
                    validators: {
                        notEmpty: {
                            message: 'password can not be blank'
                        },
                        stringLength: {
                            /*长度提示*/
                            min: 6,
                            max: 30,
                            message: 'Password length must be between 6 and 30'
                        },
                    }
                },
                'conformpaypwd': {
                    message: 'Invalid password',
                    validators: {
                        notEmpty: {
                            message: 'Invalid password cannot be empty'
                        },
                        identical: {//相同
                            field: 'paypwd',
                            message: 'Two passwords are inconsistent'
                        }
                    }
                }
            }
        })


        // 获取验证码
        $("#getcode").click(function () {
            //获取输入的手机号码
            var phoNum = $("#usertel").val();
            curCount = count;
            // 向后台发送处理数据
            $.ajax({
                type: "post", // 用POST方式传输
                dataType: 'json',
                url: "/count/checkPhone", // 目标地址
                data: { "telphone":phoNum },
                error: function (data) {
                    sweetAlert("", strToJson(data).message, "error");
                },
                success: function (data) {
                    // debugger;
                    if (data.code=="fail") {
                        $("#getcode").attr("disabled", false);
                        $("#getcode").text("Resend code");
                        $("#telephonenameTip").html("<font color='red'>× SMS verification code failed to send, please resend</font>");
                        return false;

                    } else {
                        // 设置按钮显示效果，倒计时
                        $("#getcode").attr("disabled", "true");
                        $("#getcode").text("Please try again in" + curCount + "second");
                        InterValObj = window.setInterval(SetRemainTime, 1000); // 启动计时器，1秒执行一次
                        $("#telephonenameTip").html("<font color='#339933'>√ SMS verification code has been sent to your mobile phone. Please check it (within 20 minutes)</font>");
                    }
                }
            });

        });
    })
    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);// 停止计时器
            $("#getcode").attr("disabled", false);
            $("#getcode").text("Resend code");
            $("#telephonenameTip").text("");

            code = ""; // 清除验证码。如果不清除，过时间后，输入收到的验证码依然有效
        } else {
            curCount--;
            $("#getcode").text("Please try again in" + curCount + "second");
        }
    }
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    var code = ""; //验证码
    var codeLength = 6;//验证码长度
</script>
</body>
</html>