<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.caogen.mapper.AppliyMapper" >

    <resultMap id="BaseResultMap" type="cn.com.caogen.entity.Appliy" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="realname" property="realname" jdbcType="VARCHAR" />
        <result column="appliycount" property="appliycount" jdbcType="VARCHAR" />
        <result column="userid" property="userid" jdbcType="INTEGER" />
        <result column="createtime" property="createtime" jdbcType="VARCHAR" />

    </resultMap>

    <sql id="Base_Column_List" >
    id,realname,appliycount,userid,createtime
     </sql>
    <insert id="add" parameterType="cn.com.caogen.entity.Appliy">
        insert into appliy (realname,appliycount,userid,createtime) values
        (#{realname,jdbcType=VARCHAR},#{appliycount,jdbcType=VARCHAR},#{userid,jdbcType=INTEGER},#{createtime,jdbcType=VARCHAR});
    </insert>

    <delete id="delete" parameterType="int">
        delete from appliy where id=#{id,jdbcType=INTEGER }
    </delete>


    <select id="queryAll"  resultMap="BaseResultMap" parameterType="Map">
        select <include refid="Base_Column_List"/> from appliy
        where 1=1
        <if test="userid !=null">
            and userid=#{userid}
        </if>

    </select>


</mapper>
