<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>生活缴费</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.fadethis.min.js"></script>

    <!--[if lte IE 9]>
    <script type="text/javascript" src="/js/html5.min.js"></script>
    <script type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--header star-->
<script  type="text/javascript" src="/js/header.js"></script>
<!--header end-->
<div class=" p0 m0 fix-frist-top phone_frist-top">
    <div class="turn swiper-container " style="background:url(/images/bwrs.jpg) no-repeat center ; height: 500px; width:100%;background-size: cover" ></div>
</div>
<!--banner end-->

<div class="container row p0 m mt20 white_bg">
    <div class=" m" style="width: 90%">
        <div class="row mt50 mb50">
            <div class="col-lg-4 tc slide-left mb10"  data-plugin-options='{"speed":800,"replay":false}'>
                <a class="life_pay" href="/more/phone_charge" ><img style="width: 100px" src="/images/icon_hf.png"><h3 class="fno f18 mt30">话费充值</h3> </a>
            </div>
            <div class="col-lg-4 tc slide-bottom mb10"  data-plugin-options='{"speed":800,"replay":false}'>
                <a class="life_pay" href="/more/water_charge" ><img  style="width: 100px" src="/images/icon_sf.png"><h3 class="fno f18 mt30">水费代缴</h3> </a>
            </div>
            <div class="col-lg-4 tc slide-right mb10"  data-plugin-options='{"speed":800,"replay":false}'>
                <a class="life_pay" href="/more/ele_charge" ><img style="width: 100px" src="/images/icon_df.png"><h3 class="fno f18 mt30">电费代缴</h3> </a>
            </div>
        </div>
    </div>
</div>


<!--通用脚本-->
<script  type="text/javascript" src="/js/footer.js"></script>
<script type="text/javascript">
    $(function(){
        $(window).fadeThis();
        $("#nav_more").addClass("cur");//导航栏添加焦点
    })
</script>
</body>
</html>