<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>现金转出</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/logo.png">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <!-- CSS App -->
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script  type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.notify.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <script  type="text/javascript" src="/js/caculator.js"></script>
    <script  type="text/javascript" src="/js/jquery.jqprint-0.3.js"></script>
    <script  type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
    <style>
        #printid{ display: none}
    </style>
</head>

<body class="flat-blue common_body">
<div class="bs-component">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/mainframe">系统首页</a></li>
        <li class="breadcrumb-item">现金管理</li>
        <li class="breadcrumb-item active">现金提现</li>
    </ol>
</div>
<div class="page-title">
    <span class="title">现金提现</span>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body inblock w100 pb30">
                <form id="myform" class="form-horizontal w100" >
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">客户姓名<span class="warning">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  placeholder="请输入客户姓名" name="username" id="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">会员手机号<span class="warning">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  placeholder="请输入会员手机号" name="telphone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" >账户货币类型<span class="warning">*</span></label>
                        <select class="select_input col-sm-3 ml15 account acountbefore"  field="monneytype" id="selectval">
                        </select>
                        <input type="hidden" id="moneytypes" name="type">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" >提现货币类型<span class="warning">*</span></label>
                        <select class="select_input col-sm-3 ml15 account acountbehind" field="monneytype"  >

                        </select>

                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">今日汇率<span class="warning">*</span></label>
                        <div class="col-sm-10">
                            <input type="text"  class="form-control thisrate" name="thisrate"  oninput="ratechange()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">提现金额<span class="warning">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="num" id="beforemoney" oninput="exchange()" class="form-control" placeholder="请输入提现金额" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">实际提现金额<span class="warning">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="txnum" class="form-control" id="aftermoney" placeholder="0.00" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">账户支付密码<span class="warning">*</span></label>
                        <div class="col-sm-10">
                            <input type="password" name="payPwd" class="form-control" placeholder="请输入该账户的支付密码" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" onclick="submitform()">提 交</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div id="printid" style="position: relative;">
    <span id="pusername" style="left: 95px; top: 130px; display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="type" style="left: 280px; top: 130px; display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="thisrate" style="left: 460px; top: 130px; display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="year" style="left: 347px; top: 65px; display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="month" style="left: 440px; top: 65px; display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="day" style="left: 490px; top: 65px; display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="psnumber" style="left: 50px; top: 440px; display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="pmoneynum" style="left: 130px; top: 240px; display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="pservicebranch" style="left: 270px; top:495px; display: inline-block;position:absolute;font-size: 14px"></span>
    <!--回单-->
    <span id="husername" style="left: 690px; top: 125px;display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="htype" style="left:690px; top: 165px;display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="hthisrate" style="left: 690px; top: 195px;display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="hmoneynum" style="left: 690px; top: 235px;display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="hsnumber" style="left: 635px; top: 395px;display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="hyear" style="left: 620px; top: 65px;display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="hmonth" style="left: 690px; top: 65px;display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="hday" style="left: 740px; top: 65px;display: inline-block;position:absolute;font-size: 14px"></span>
    <span id="hservicebranch" style="left: 690px; top: 495px;display: inline-block;position:absolute;font-size: 14px"></span>
</div>
<input type="hidden" id="realrate">
<script type="text/javascript">
    $(function(){
        loadaccount();//加载账户类型
        $('#myform').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'telphone': {
                    validators: {
                        notEmpty: {
                            message: '手机号不可以为空'
                        }
                    }
                },
                'num': {
                    validators: {
                        notEmpty: {
                            message: '提现金额不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9_\.]+$/,
                            message: '金额只能由数字组成。'
                        }
                    }
                },
                'payPwd': {
                    validators: {
                        notEmpty: {
                            message: '支付密码不能为空'
                        }
                    }
                },
                'thisrate': {
                    validators: {
                        notEmpty: {
                            message: '存入金额不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9_\.]+$/,
                            message: '汇率只能由数字组成。'
                        }
                    }
                },

                'username': {
                    validators: {
                        notEmpty: {
                            message: '客户姓名不能为空'
                        }
                    }
                }

            }
        });
    })
    // 加载平台货币类型
    function loadaccount() {
        var before = $(".acountbefore option:selected").attr("data-id");
        var behind = $(".acountbehind option:selected").attr("data-id");
        if (before == behind) {
            $(".thisrate").val("1");
            $("#realrate").val(1);

        }
        $.ajax({
            url: '/count/queryMoneyType',
            data: null,
            type: 'get',
            success: function (data) {
                if(data.code=="403") {
                    sweetAlert({
                            title: "",
                            text: "您的账号权限不足，无法操作此页面！",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            cancelButtonText: "取消",
                            closeOnConfirm: false,
                            closeOnCancel: true
                        },
                        function(isConfirm){
                            if (isConfirm) {
                                window.location.href = "/mainframe";
                            }
                        });
                }
                else{
                    var jsonObj = $.parseJSON(data);//json字符串转数组
                    console.log(jsonObj.length);
                    for (var i=0;i<jsonObj.length;i++)
                    {
                        var html ='<option data-id="'+jsonObj[i]+'" value="'+jsonObj[i]+'">'+jsonObj[i]+'('+currency_type(jsonObj[i])+')'+'</option>';
                        $(".account").append(html);

                    }
                }
            },
            error: function (data) {
                handleAjaxError();//超时登录或接口异常
            }
        });
    }
    // 账户改变，汇率同时改变
    $(".account").change(function () {
        $("#beforemoney").val("");
        $("#aftermoney").val("");
        var before = $(".acountbefore option:selected").attr("data-id");
        var behind = $(".acountbehind option:selected").attr("data-id");
        var types = before + behind;
        var turntype = behind + before;
        if (before == behind) {
            $(".thisrate").val("1");
            $("#realrate").val(1);

        }

        else if (allrate(types)=="1") {

            $.ajax({
                url: "/rate/getSingleRate",
                type: "get",
                data: {type: types},
                dataType: "JSON",
                success: function (data) {
                    $(".thisrate").val(data.buyPic);
                    $("#realrate").val($(".thisrate").val());
                },
                error: function (data) {
                    //终止请求动作.
                    data.abort();

                }
            });
        }
        else if(allrate(turntype)=="1") {

            $.ajax({
                url: "/rate/getSingleRate",
                type: "get",
                data: {type: turntype},
                dataType: "JSON",
                success: function (data) {
                    var realrate=data.sellPic;
                    $(".thisrate").val(realrate);
                    var  rate=  $(".thisrate").val();
                    $("#realrate").val(1/rate);
                },
                error: function (data) {
                    //终止请求动作.
                    data.abort();

                }
            });
        }
    }) ;
    // 兑换后金额
    function exchange() {
        var before= $("#beforemoney").val();
        //var rate= $(".thisrate").val();
        var sellrate=$("#realrate").val();
        var changeafter=before*sellrate;
        var value= Math.round(changeafter*10000)/10000;
        $("#aftermoney").val(decimal(value,2));//四舍五入保留两位小数点
    };
    // 手动改变汇率，实际汇率同时改变
    function ratechange() {
        var before = $(".acountbefore option:selected").attr("data-id");
        var behind = $(".acountbehind option:selected").attr("data-id");
        var types = before + behind;
        var turntype = behind + before;
        if (before == behind) {
            $(".thisrate").val("1");
            $("#realrate").val(1);

        }

        else if (allrate(types)=="1") {

            $.ajax({
                url: "/rate/getSingleRate",
                type: "get",
                data: {type: types},
                dataType: "JSON",
                success: function (data) {
                    $("#realrate").val($(".thisrate").val());
                    var before= $("#beforemoney").val();
                    var sellrate=$("#realrate").val();
                    var changeafter=before*sellrate;
                    var value= Math.round(changeafter*10000)/10000;
                    $("#aftermoney").val(decimal(value,2));//四舍五入保留两位小数点
                },
                error: function (data) {
                    //终止请求动作.
                    data.abort();

                }
            });
        }
        else if(allrate(turntype)=="1") {

            $.ajax({
                url: "/rate/getSingleRate",
                type: "get",
                data: {type: turntype},
                dataType: "JSON",
                success: function (data) {
                    $(".thisrate").val();
                    var  rate=  $(".thisrate").val();
                    $("#realrate").val(1/rate);
                    var before= $("#beforemoney").val();
                    var sellrate=$("#realrate").val();
                    var changeafter=before*sellrate;
                    var value= Math.round(changeafter*10000)/10000;
                    $("#aftermoney").val(decimal(value,2));//四舍五入保留两位小数点
                },
                error: function (data) {
                    //终止请求动作.
                    data.abort();

                }
            });
        }


    } ;
    // 自选兑换查询是否在汇率表中
    function allrate(type){
        var value="";
        $.ajax({
            url: "/rate/queryAll",
            type: "get",
            data: null,
            dataType: "JSON",
            async: false,
            error: function (data) {
                $.Popup.error("表单数据不合法!");
            },
            success: function (data) {
                var arr = new Array();
                //取最新的一条记录
                for (var i = data.length-1; i < data.length; i++) {
                    arr.push(data[i]);
                }
                var obj=arr[0];
                for( key in obj){
                    // 注意在json中获取，要用 data[key]   不要用data.key
                    var code=obj[key].code;
                    if(type==code){
                        value=1;
                    }

                }
            }

        });
        return value;
    }

    // 提交表单
    function submitform() {
        $('#myform').data('bootstrapValidator').enableFieldValidators('telphone', true);
        $('#myform').data('bootstrapValidator').enableFieldValidators('num', true);
        $('#myform').data('bootstrapValidator').enableFieldValidators('username', true);
        $('#myform').data('bootstrapValidator').enableFieldValidators('thisrate', true);
        $('#myform').data('bootstrapValidator').enableFieldValidators('payPwd', true);
        $('#myform').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#myform').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {
            var valuea = $('#selectval').val();
            $('#moneytypes').val(valuea);
            $.ajax({
                url: '/count/outMoney',
                data: $('#myform').serialize(),
                type: 'post',
                success: function (data) {
                    if (strToJson(data).code == "success") {
                        var obj=new Array()
                        obj.push($.parseJSON( strToJson(data).message ));
                        var str=obj[0].operaTime;
                        $("#hsnumber").html(obj[0].snumber);
                        $("#psnumber").html(obj[0].snumber);
                        $("#pusername").html($("#username").val());
                        $("#husername").html($("#username").val());
                        $("#type").html(obj[0].countType);
                        $("#htype").html(obj[0].countType);
                        $("#pmoneynum").html($("#aftermoney").val());
                        $("#hmoneynum").html($("#aftermoney").val());
                        $("#pservicebranch").html(obj[0].servicebranch);
                        $("#hservicebranch").html(obj[0].servicebranch);
                        $("#year").html(str.substring(0,4));
                        $("#hyear").html(str.substring(0,4));
                        $("#month").html(str.substring(5,7));
                        $("#hmonth").html(str.substring(5,7));
                        $("#day").html(str.substring(8,10));
                        $("#hday").html(str.substring(8,10));
                        $("#thisrate").html($(".thisrate").val());
                        $("#hthisrate").html($(".thisrate").val());
                        sweetAlert({
                                title: "",
                                text:"恭喜您！现金转出成功！是否立即打印凭证？",
                                type: "info",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "确定",
                                cancelButtonText: "取消",
                                closeOnConfirm: false,
                                closeOnCancel: true
                            },
                            function(isConfirm){
                                if (isConfirm) {
                                    //确认打印凭条
                                    print();

                                } else {
                                    window.location.href = "/cashmanage/cashtrade_list";
                                }
                            });
                    }
                    else if(strToJson(data).code=="fail"){
                        sweetAlert("", strToJson(data).message, "error");
                    }
                    else if(strToJson(data).code=="403") {
                        sweetAlert({
                                title: "",
                                text: "您的账号权限不足，无法操作此页面！",
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonText: "确定",
                                cancelButtonText: "取消",
                                closeOnConfirm: false,
                                closeOnCancel: true
                            },
                            function(isConfirm){
                                if (isConfirm) {
                                    window.location.href = "/mainframe";
                                }
                            });
                    }
                    else {
                        sweetAlert("", strToJson(data).message, "error");
                    }

                },
                error: function () {
                    sweetAlert("", "请求失败！", "error");
                }
            });
        }
    }
    var hkey_root,hkey_path,hkey_key
    hkey_root="HKEY_CURRENT_USER"
    hkey_path="\\Software\\Microsoft\\Internet Explorer\\PageSetup\\"
    // 设置页眉页脚为空
    function PageSetup_Null()
    {
        try{
            var RegWsh = new ActiveXObject("WScript.Shell") ;
            hkey_key="header" ;
            RegWsh.RegWrite(hkey_root+hkey_path+hkey_key,"") ;
            hkey_key="footer" ;
            RegWsh.RegWrite(hkey_root+hkey_path+hkey_key,"") ;
        }
        catch(e){}
    }

    function print(){
        PageSetup_Null() ;
        $("#printid").jqprint();
        sweetAlert({
                title: "正在打印中..",
                text:"打印完成请关闭该弹出框",
                type: "info",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "关闭",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function(isConfirm) {
                if (isConfirm) {
                    window.location.href = "/cashmanage/cashtrade_list";
                }
            })
    }
</script>
</body>

</html>