<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>柜台交易记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/logo.png">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <!-- CSS App -->
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script  type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.notify.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <script  type="text/javascript" src="/js/date.js"></script>
    <style>
        .tabbutton a{ padding: 8px 20px;}
    </style>
</head>

<body class="flat-blue common_body">
<div class="bs-component">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/mainframe">系统首页</a></li>
        <li class="breadcrumb-item">柜台现金</li>
        <li class="breadcrumb-item active">柜台交易记录</li>
    </ol>
</div>
<div class="page-title">
    <span class="title">柜台交易记录</span>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header ">

            </div>
            <div class="card-body relative">
                <form id="myform">
                    <div class="row">
                        <div class="col-lg-2 mb0" id="network" style="display: none">
                            <div class="form-group  ">
                                <label class="col-form-label">选择网点<span class="warning">*</span></label>
                                <div class="input-prepend input-group dateselect w100" >
                                    <select class="select_input  w100"  id="select_network">
                                    </select>
                                </div>

                            </div>
                        </div>
                        <input  type="hidden" id="branchname" name="branchname" value="">
                        <div class="col-lg-3 mb0">
                            <div class="form-group  ">
                                <label class="col-form-label">开始时间<span class="warning">*</span></label>
                                <div class="input-prepend input-group dateselect " >
                                    <input type="text" readonly  name="starttime" id="txtstarDate"  class="form-control " value="" /><span class="add-on input-group-addon"><i class="icon_date"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb0">
                            <div class="form-group  ">
                                <label class="col-form-label">结束时间<span class="warning">*</span></label>
                                <div class="input-prepend input-group dateselect " >
                                    <input type="text" readonly  name="endtime"  class="form-control " id="txtEndDate" value="" /><span class="add-on input-group-addon"><i class="icon_date"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb0">
                            <button type="button" style="margin-top: 26px" class="btn btn-default" onclick="submitform()">查询美金交易</button>
                        </div>
                    </div>
                </form>
                <div class="inblock w100" id="dollar_num" style="display: none">
                    <h4 class="green l ">
                        美金总收入： <b id="inNum"></b>
                    </h4>
                    <h4 class="red l ml30">
                        美金总支出： <b id="outNum"></b>
                    </h4>
                </div>
                <table class="datatable table table-striped" id="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>账户操作人</th>
                        <th>账户ID</th>
                        <th>收入/支出</th>
                        <th>交易金额</th>
                        <th>货币类型</th>
                        <th>交易类型</th>
                        <th>操作IP</th>
                        <th>流水号</th>
                        <th>创建时间</th>
                        <th>交易网点</th>
                        <th>客户姓名</th>
                        <th>客户联系电话</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                </table>
                <div class="batch_play inblock">
                    <a href="/loanManage/add_loan">添加</a>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#txtstarDate").calendar();
        $("#txtEndDate").calendar();
        loadnetwork();//加载网点
        information();//获取成员信息
        $('#table').DataTable({
            "order": [ 9, "desc" ],
            "serverSide": true,
            searching: true,
            lengthChange: true,
            paging: true,
            scrollCollapse: true,
            serverSide: false,
            search: true,
            processing: true,
            /* scrollY: 500,   表格的高度限制*/
            scrollX: "100%",
            scrollXInner: "100%",
            scrollCollapse: true,
            jQueryUI: false,
            autoWidth: true,
            autoSearch: false,
            language: {
                "sProcessing": "处理中....",
                "sLengthMenu": "显示 _MENU_ 项搜索结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "暂无数据",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            "fnDrawCallback"    : function(){
                this.api().column(0).nodes().each(function(cell, i) {
                    cell.innerHTML =  i + 1;
                });
            },
            ajax: {
                url: "/opera/queryCashLog",
                dataSrc: function (data) {
                    if (data.code=="403") {
                        sweetAlert({
                                title: "",
                                text: "您的账号权限不足，无法操作此页面！",
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonText: "确定",
                                cancelButtonText: "取消",
                                closeOnConfirm: false,
                                closeOnCancel: true
                            },
                            function(isConfirm){
                                if (isConfirm) {
                                    window.location.href = "/mainframe";
                                }
                            });
                    }
                    else{ return data;}
                },
                error: handleAjaxError //接口返回异常，超时登录
            },

            "columns": [
                {"data": "id"},
                {"data": "operaUser"},
                {"data": "countid"},
                {"data": "oi" ,
                    render:function(e,type,full,row){
                        if(full.oi==0){
                            return "<span class='red'>支出</span>";
                        }
                        if(full.oi==1){
                            return "<span class='green'>收入</span>";
                        }

                    }
                },
                {"data": "num" ,
                    render:function(e,type,full,row){
                        if(full.oi==0){
                            return "<span class='red'>"+full.num+"</span>";
                        }
                        if(full.oi==1){
                            return "<span class='green'>"+full.num+"</span>";
                        }

                    }
                },
                {"data": "countType"},
                {"data": "operaType"},
                {"data": "operaIp"},
                {"data": "snumber"},
                {"data": "operaTime"},
                {"data": "servicebranch"},
                {"data": "phone"},
                {"data": "username"},
                {"data": "remark"}

            ]
        });
    })

    // 查询记录
    function submitform() {
        information();
        $("#dollar_num").show();
        $.ajax({
            url: '/cashpool/queryScope',
            data: $('#myform').serialize(),
            type: 'get',
            success: function (data) {
                if(strToJson(data).code=="403") {
                    sweetAlert({
                            title: "",
                            text: "您的账号权限不足，无法操作此页面！",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            cancelButtonText: "取消",
                            closeOnConfirm: false,
                            closeOnCancel: true
                        },
                        function(isConfirm){
                            if (isConfirm) {
                                window.location.href = "/mainframe";
                            }
                        });
                }
                else {
                    $("#inNum").html( parseFloat(strToJson(data).inNum).toFixed(4));
                    $("#outNum").html(parseFloat(-strToJson(data).outNum).toFixed(4));
                }

            },
            error: function () {
                sweetAlert("", "请求失败！", "error");
            }
        });
    }
    // 加载网点
    function loadnetwork() {
        $.ajax({
            url: '/servicebranch/queryAll',
            data: null,
            type: 'get',
            success: function (data) {
                if (data.code == "403") {
                    sweetAlert({
                            title: "",
                            text: "您的账号权限不足，无法操作此页面！",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            cancelButtonText: "取消",
                            closeOnConfirm: false,
                            closeOnCancel: true
                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.href = "/mainframe";
                            }
                        });
                }
                else {
                    var jsonObj = $.parseJSON(data);//json字符串转数组
                    for (var i = 0; i < jsonObj.length; i++) {
                        var html = '<option value="' + jsonObj[i].branchname + '">' + jsonObj[i].branchname + '</option>';
                        $("#select_network").append(html);

                    }

                }
            }
        });
    }
    // 获取登录成员信息
    function information() {
        $.ajax({
            url: "/muser/getUser",
            type: "get",
            data: null,
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if(data.servicebranch=="总部"){
                    $("#network").show();
                    var net=$("#select_network").val();
                    $("#branchname").val(net);
                }
            }
        });

    }
</script>
</body>

</html>
