<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>现金转出</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <!-- CSS App -->
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script  type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>

</head>

<body class="flat-blue common_body">
<div class="bs-component">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/mainframe">系统首页</a></li>
        <li class="breadcrumb-item">现金管理</li>
        <li class="breadcrumb-item active">现金转出</li>
    </ol>
</div>
<div class="page-title">
    <span class="title">现金转入</span>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <form id="myform" class="form-horizontal">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">会员手机号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"  placeholder="请输入会员手机号" name="telphone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" >货币类型<span class="warning">*</span></label>
                        <select class="select_input col-sm-3 ml15"  id="selectval" field="monneytype">
                            <option value="CNY" >人民币</option>
                            <option value="USD">美元</option>
                        </select>
                        <input type="hidden" id="moneytypes" name="type">
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">转出金额</label>
                        <div class="col-sm-10">
                            <input type="text" name="num" class="form-control" placeholder="请输入存入金额" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">账户支付密码</label>
                        <div class="col-sm-10">
                            <input type="password" name="payPwd" class="form-control" placeholder="请输入该账户支付密码" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" onclick="submitform()">提 交</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('#myform').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'telphone': {
                    validators: {
                        notEmpty: {
                            message: '手机号不可以为空'
                        }
                    }
                },
                'monneytype':{
                    validators:{
                        notEmpty:{
                            message:'货币类型不能为空'
                        },
                        callback: {
                            message: '必须选择一个货币类型',
                            callback: function(value, validator)
                            {
                                if (value == 0) {
                                    return false;
                                } else {
                                    return true;
                                }

                            }
                        }
                    }
                },
                'num': {
                    validators: {
                        notEmpty: {
                            message: '转出金额不能为空'
                        },
                    digits: {
                        message: '金额只能包含数字。'
                    }
                    }
                },
                'payPwd': {
                    validators: {
                        notEmpty: {
                            message: '账户支付密码不能为空'
                        }
                    }
                }

            }
        })
    })
    function submitform() {
        $('#myform').data('bootstrapValidator').enableFieldValidators('telphone', true);
        $('#myform').data('bootstrapValidator').enableFieldValidators('num', true);
        $('#myform').data('bootstrapValidator').enableFieldValidators('payPwd', true);
        $('#myform').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#myform').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {
            var valuea = $('#selectval').val();
            $('#moneytypes').val(valuea);
            $.ajax({
                url: '/count/outMoney',
                data: $('#myform').serialize(),
                type: 'post',
                success: function (data) {
                    if (strToJson(data).code == "success") {
                        sweetAlert("", "恭喜您！现金转出成功！", "success");
                        setTimeout(function () {
                            window.location.href = "/cashmanage/cashout_list";
                        }, 1500);
                    }
                    else {
                        sweetAlert("", strToJson(data).message, "error");
                    }

                },
                error: function () {
                    sweetAlert("", "请求失败！", "error");
                }
            });
        }
    }
</script>
</body>

</html>