<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>交易明细列表</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/index.js"></script>

    <!--[if lte IE 9]>
    <script type="text/javascript" src="/js/html5.min.js"></script>
    <script type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="white_bg">

<div class="inblock w100">
    <table width="100%"  cellspacing="0" cellpadding="0" border="1"   class="table">
        <thead>
        <tr>
            <th>流水号</th>
            <th>兑换金额</th>
            <th>兑换后金额</th>
            <th>汇率</th>
            <th width="250">交易时间</th>
            <th>状态</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>513265644878787878</td>
            <td>￥12000</td>
            <td>$2000</td>
            <td>6</td>
            <td>2018-04-01 19:21:00</td>
            <td>成功</td>
            <td>无</td>
        </tr>
        <tr>
            <td>513265644878787878</td>
            <td>￥12000</td>
            <td>$2000</td>
            <td>6</td>
            <td>2018-04-01 19:21:00</td>
            <td>成功</td>
            <td>无</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>