<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>三维度后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Libs -->

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>

<body class="flat-blue">
<div class="app-container expanded">
    <div class="row content-container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-expand-toggle fa-rotate-90">
                        <i class="fa fa-bars icon"></i>
                    </button>
                    <ol class="breadcrumb navbar-breadcrumb">
                        <!--<li class="active">三维度兑换系统</li>-->
                    </ol>
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-th icon"></i>
                    </button>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                        <i class="fa fa-times icon"></i>
                    </button>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comments-o"></i></a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li class="title">
                                Notification <span class="badge pull-right">0</span>
                            </li>
                            <li class="message">
                                No new notification
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown danger">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-star-half-o"></i> 4</a>
                        <ul class="dropdown-menu danger  animated fadeInDown">
                            <li class="title">
                                Notification <span class="badge pull-right">4</span>
                            </li>
                            <li>
                                <ul class="list-group notifications">
                                    <a href="#">
                                        <li class="list-group-item">
                                            <span class="badge">1</span> <i class="fa fa-exclamation-circle icon"></i> new registration
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">
                                            <span class="badge success">1</span> <i class="fa fa-check icon"></i> new orders
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item">
                                            <span class="badge danger">2</span> <i class="fa fa-comments icon"></i> customers messages
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li class="list-group-item message">
                                            view all
                                        </li>
                                    </a>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">amin <span class="caret"></span></a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li>
                                <div class="profile-info">
                                    <h4 class="username">admin</h4>
                                    <p>emily_hart@email.com</p>
                                    <div class="btn-group margin-bottom-2x" role="group">
                                        <button type="button" class="btn btn-default"><i class="fa fa-user"></i> Profile</button>
                                        <button type="button" class="btn btn-default" onclick="logout()"><i class="fa fa-sign-out"></i> 退出</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="side-menu sidebar-inverse">
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <div class="navbar-header">
                        <a class="navbar-brand tc" href="index">
                            <div class="title"> </div>
                        </a>
                        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="panel panel-default dropdown ">
                            <a data-toggle="collapse" href="#dropdown-user">
                                <span class="icon fa nav_member"></span><span class="title">会员管理</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-user" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/member/member_list" target="iframename">会员列表</a>
                                        </li>
                                        <li><a href="/member/account_list" target="iframename">账户管理</a>
                                        </li>
                                        <li><a href="/member/alipay_list" target="iframename">会员支付宝</a>
                                        </li>
                                        <li><a href="/member/bankcard_list" target="iframename">会员银行卡</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-element">
                                <span class="icon fa nav_infx"></span><span class="title">收入分析</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-element" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/incomeAnalysis/week" target="iframename">周分析</a>
                                        </li>
                                        <li><a href="/incomeAnalysis/month" target="iframename">月分析</a>
                                        </li>
                                        <li><a href="/incomeAnalysis/quarter" target="iframename">季度分析</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-table">
                                <span class="icon fa nav_outfx"></span><span class="title">支出分析</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-table" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/spentAnalysis/week" target="iframename">周分析</a>
                                        </li>
                                        <li><a href="/spentAnalysis/month" target="iframename">月分析</a>
                                        </li>
                                        <li><a href="/spentAnalysis/quarter" target="iframename">季度分析</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-form">
                                <span class="icon fa nav_msg"></span><span class="title">消息通知</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-form" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/msgNotify/member_certificate" target="iframename">会员认证审批</a>
                                        </li>
                                        <li><a href="/msgNotify/transfer_apply" target="iframename">转账申请</a>
                                        </li>
                                        <li><a href="/msgNotify/cash_apply" target="iframename">提现申请</a>
                                        </li>
                                        <li><a href="/msgNotify/recharge_record" target="iframename">充值记录</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!-- Dropdown-->
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#component-example">
                                <span class="icon fa nav_money"></span><span class="title">财务管理</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="component-example" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="" target="iframename">交易明细</a>
                                        </li>
                                        <li><a href="" target="iframename">利润统计</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="/exchangeRate/rate"  target="iframename">
                                <span class="icon fa nav_rate"></span><span class="title">汇率查询</span>
                            </a>
                        </li>

                        <li>
                            <a href="/capitalbank/capital_bank"  target="iframename">
                                <span class="icon fa nav_moneyku"></span><span class="title">平台资金库</span>
                            </a>
                        </li>
                        <!-- Dropdown-->
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-cash" >
                                <span class="icon fa nav_cash"></span><span class="title">现金管理</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-cash" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/cashmanage/cash_in" target="iframename">现金存入</a>
                                        </li>
                                        <li><a href="/cashmanage/cash_out" target="iframename">现金转出</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!-- Dropdown-->
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-mangae" >
                                <span class="icon fa nav_manage"></span><span class="title">后台管理员</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-mangae" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/manage/manage_role" target="iframename">管理员角色</a>
                                        </li>
                                        <li><a href="/manage/manage_list" target="iframename">管理员列表</a>
                                        </li>
                                        <li><a href="/manage/manage_power" target="iframename">管理员权限</a>
                                        </li>
                                        <!--<li><a href="/manage/changepsw" target="iframename">修改密码</a>-->
                                        <!--</li>-->
                                        <!--<li><a href="/manage/changeinfo" target="iframename">修改信息</a>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- Dropdown-->
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-example">
                                <span class="icon fa nav_log"></span><span class="title">日志管理</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-example" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/oplog/log" target="iframename">操作日志</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <!-- Main Content -->
        <div class="container-fluid pr0">

            <div class="side-body padding-top mr0">
                <iframe name="iframename" id="mainFrame" src="/mainframe" frameborder="false" scrolling="auto"  width="100%" height="auto" allowtransparency="true"></iframe>

            </div>
        </div>
    </div>

    <footer class="app-footer">
        <div class="wrapper">
            © 2018 Copyright <a href="" target="_blank" title="">三维度</a>
        </div>
    </footer>
    <div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        autodivheight();
    });

    function autodivheight(){ //函数：获取尺寸
//获取浏览器窗口高度
        var winHeight=0;
        if (window.innerHeight){
            winHeight = window.innerHeight;
        }
        else if ((document.body) && (document.body.clientHeight)){
            winHeight = document.body.clientHeight;
        }
//通过深入Document内部对body进行检测，获取浏览器窗口高度
        if (document.documentElement && document.documentElement.clientHeight){
            winHeight = document.documentElement.clientHeight;
        }
//DIV高度为浏览器窗口的高度
//document.getElementById("test").style.height= winHeight +"px";
//DIV高度为浏览器窗口高度的一半
        document.getElementById("mainFrame").style.height= winHeight-130 +"px";
    }
    window.onresize=autodivheight; //浏览器窗口发生变化时同时变化DIV高度
</script>

<script type="text/javascript" src="/js/Chart.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/js/select2.full.min.js"></script>
<script  type="text/javascript" src="/js/sweet-alert.min.js"></script>

<script type="text/javascript" src="/js/app.js"></script>
<!--<script type="text/javascript" src="/js/index.js"></script>-->
<script type="text/javascript">
    function logout() {
        $.ajax({
            url: "/muser/logout",
            type: "get",
            data: null,
            dataType: 'json',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                if (data.code=="success") {
                    sweetAlert("", "退出成功！", "success");
                    setTimeout(function(){ window.location.href = "/login";},1500);
                }

            },
            error: function () {
                window.location.href = "/login";
            },
        });

    }
</script>
</body>

</html>
