<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>后台首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script  type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</head>

</head>
<body class="common_body flat-blue">
<div class="row info_num">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="#">
            <div class="card  summary-inline index_recharge">
                <div class="card-body">
                    <i class="icon fa "></i>
                    <div class="content">
                        <div class="title" id="rechargenum">0</div>
                        <div class="sub-title ">充值笔数</div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="#">
            <div class="card  summary-inline index_transfer">
                <div class="card-body">
                    <i class="icon fa "></i>
                    <div class="content">
                        <div class="title"  id="trangfernum">0</div>
                        <div class="sub-title ">转账笔数</div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="#">
            <div class="card  summary-inline index_cash">
                <div class="card-body">
                    <i class="icon fa "></i>
                    <div class="content">
                        <div class="title"  id="cashnum">0</div>
                        <div class="sub-title ">提现笔数</div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <a href="#">
            <div class="card  summary-inline index_exchange">
                <div class="card-body">
                    <i class="icon fa "></i>
                    <div class="content">
                        <div class="title" id="changenum">0</div>
                        <div class="sub-title ">兑换笔数</div>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="inblock w100 mt10 white_bg" id="chartmain" style="width:100%; height: 400px; padding: 20px"></div>
<div class="inblock w100 mt20 white_bg pt30" >
    <div class="  mt10 white_bg" id="chartpie" style="width:60%; height: 500px; padding: 20px; margin: 0 auto;"></div>
</div>
</div>

<script type="text/javascript">
    $(function(){
        tradenum();//统计各类型数量
        //初始化echarts实例
        var myChart = echarts.init(document.getElementById('chartmain'));
        var mypie = echarts.init(document.getElementById('chartpie'));
        trademoney(myChart);//收支折线图
        tradepie(mypie);//收支饼状图
    })

    //统计各类型收支折线图
    function trademoney(myChart) {
        var  option = {
            title : {
                text: '最近一周收支变化',
//                    subtext: '汇率变化'
                textStyle: {
                    color: '#333' //标题颜色
                }
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['收入','支出']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['4.14','4.15','4.16','4.17','4.18','4.19','4.20']
                }
            ],
            yAxis : [
                {
                    type: 'value',
                    min: 10000,
                    max: 1000000,
                    splitArea: {
                        show: true
                    }
                }
            ],
            series : [
                {
                    name:'收入',
                    type:'line',
                    data:[1000000,909000, 800000,860000, 120000,130700, 990999],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    },
                    itemStyle:{
                        normal:{
                            color: "#0390ee" //图标颜色
                        }
                    },
                    lineStyle:{
                        normal:{
                            width:2,  //连线粗细
                            color: "#0390ee"  //连线颜色
                        }
                    }

                },
                {
                    name:'支出',
                    type:'line',
                    data:[600000, 100000,300000, 250000, 320000, 500000, 780000],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };
        //使用制定的配置项和数据显示图表
        myChart.setOption(option);
    }
    //统计各类型金额总和饼状图
    function tradepie(mypie) {
        $.ajax({
            url: '/opera/queryoperatype',
            data: null,
            type: 'get',
            success: function (data) {
                var arrpie=[{value:0,name:'充值'},{value:0,name:'兑换'},{value:0,name:'现金存入'},{value:0,name:'现金转出'},{value:0,name:'转账'}];
                var obj=strToJson(data);
                for(var i=0;i<obj.length;i++){
                    switch (obj[i].operatype) {
                        case "充值":
                            arrpie[0].value=obj[i].sum;
                            break;
                        case "兑换":
                            arrpie[1].value=obj[i].sum;
                            break;
                        case "现金存入":
                            arrpie[2].value=obj[i].sum;
                            break;
                        case "现金转出":
                            arrpie[3].value=obj[i].sum;
                            break;
                        case "转账":
                            arrpie[4].value=obj[i].sum;
                            break;
                        default:
                            break;
                    }
                }
                console.log(arrpie);
                option = {
                    title : {
                        text: '今日各类型交易金额分析',
                        subtext: '',
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:['充值','兑换','现金存入','现金转出','转账']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {
                                show: true,
                                type: ['pie', 'funnel'],
                                option: {
                                    funnel: {
                                        x: '25%',
                                        width: '50%',
                                        funnelAlign: 'left',
                                        max: 1548
                                    }
                                }
                            },
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    series : [
                        {
                            name:'平台交易',
                            type:'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:arrpie
                        }
                    ]
                };

                //使用制定的配置项和数据显示图表
                mypie.setOption(option);

            },
            error: function () {
                sweetAlert("", "请求失败！", "error");
            }
        });

    }
    //统计各类型数量
    function tradenum(){
        $.ajax({
            url: '/opera/queryoperacount',
            data: null,
            type: 'get',
            success: function (data) {
                var obj=strToJson(data);
                for(var i=0;i<obj.length;i++){
                    if (obj[i].operatype == "转账") {
                        $("#trangfernum").html(obj[i].counttype)
                    }
                    else if(obj[i].operatype == "充值"){
                        $("#rechargenum").html(obj[i].counttype)
                    }
                    else if(obj[i].operatype == "提现"){
                        $("#cashnum").html(obj[i].counttype)
                    }
                    else if(obj[i].operatype == "兑换"){
                        $("#changenum").html(obj[i].counttype)
                    }
                }

            },
            error: function () {
                sweetAlert("", "请求失败！", "error");
            }
        });
    }
</script>
</body>
</html>