<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>担保人列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <!-- CSS App -->
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script  type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>

</head>

<body class="flat-blue common_body">
<div class="bs-component">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/mainframe">系统首页</a></li>
        <li class="breadcrumb-item">借贷管理</li>
        <li class="breadcrumb-item active">担保人列表</li>
    </ol>
</div>
<div class="page-title">
    <span class="title">担保人列表</span>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table class="datatable table table-striped" id="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>担保人</th>
                        <th>担保人职位</th>
                        <th>担保人电话</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
                <div class="batch_play inblock">
                    <a href="/loanManage/add_guarantee">添加</a>
                </div>
            </div>

        </div>
    </div>
</div>


<!--修改担保人 模态框 （Modal） -->
<div class="modal fade" id="myModal_dollar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h4 class="modal-title" id="myModalLabel"> 修改担保人信息</h4>
            </div>
            <div class="modal-body">
                <form id="myform" >
                    <div class="form-group">
                        <label class="col-form-label" >担保人<span class="warning">*</span></label>
                        <input class="form-control" type="text"  name="username" id="username">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" >职位<span class="warning">*</span></label>
                        <input class="form-control" type="text" name="job" id="job">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" >联系电话<span class="warning">*</span></label>
                        <input class="form-control" type="text" name="phone" id="phone">
                    </div>
                    <input type="hidden" name="id" id="guaranid">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w100" onclick="submitform()">确认修改 </button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->


<script type="text/javascript">
    $(function () {
        $('#table').DataTable( {
            "order": [ 4, "desc" ],
            "serverSide": true,
            searching: true,
            lengthChange: true,
            paging: true,
            scrollCollapse: true,
            serverSide: false,
            search: true,
            processing: true,
            /* scrollY: 500,   表格的高度限制*/
            scrollX: "100%",
            scrollXInner: "100%",
            scrollCollapse: true,
            jQueryUI: false,
            autoWidth: true,
            autoSearch: false,
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项搜索结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "暂无数据",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            ajax: {
                url: "/warrantor/queryAll",
                dataSrc: function (data) {
                    if (data.code=="403") {
                        sweetAlert({
                                title: "",
                                text: "您的账号权限不足，无法操作此页面！",
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonText: "确定",
                                cancelButtonText: "取消",
                                closeOnConfirm: false,
                                closeOnCancel: true
                            },
                            function(isConfirm){
                                if (isConfirm) {
                                    window.location.href = "/mainframe";
                                }
                            });
                    }
                    else{ return data;}
                },
                error: handleAjaxError //接口返回异常，超时登录
            },
            "fnDrawCallback"    : function(){
                this.api().column(0).nodes().each(function(cell, i) {
                    cell.innerHTML =  i + 1;
                });
            },
            "columns": [
                {"data": "id" },
                {"data": "username" },
                {"data": "job" },
                {"data": "phone" },
                {"data": "createtime" },
                {"data": "id",
                    render:function(e,type,full,row){
                        return "<a href='javascript:;'  onclick='deletdata("+full.id+")'  class=\"icon_delete\" title=\"删除\">删除</a> | <a href='javascript:;'  data-toggle=\"modal\" data-target=\"#myModal_dollar\" onclick=\"changedata("+full.id+")\" class='blue' >修改</a>";
                    }
                }
            ]
        } );
        $('#myform').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'username': {
                    validators: {
                        notEmpty: {
                            message: '担保人名字不能为空'
                        }
                    }
                },
                'job': {
                    message: '担保人职位不能为空',
                    validators: {
                        notEmpty: {
                            message: '担保人职位不能为空'
                        }
                    }
                },
                'phone': {
                    message: '担保人电话不能为空',
                    validators: {
                        notEmpty: {
                            message: '担保人电话不能为空'
                        }
                    }
                }
            }
        })
    })

    //删除担保人信息
    function deletdata(id) {
        sweetAlert({
                title: "",
                text: "确定删除吗？",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function(isConfirm){
                if (isConfirm) {
                    $.ajax({
                        type: "get", // 用POST方式传输
                        dataType: 'json',
                        url: "/warrantor/deleteById", // 目标地址
                        data: { id :id },
                        success: function (data) {
                            if (data.code=="success") {
                                sweetAlert("", "恭喜您！删除成功！", "success");
                                setTimeout(function(){ window.location.href = "/loanManage/guarantee_list";},1500);
                            }
                            else if (data.code=="403") {
                                sweetAlert({
                                    title: "",
                                    text: "您的账号权限不足，无法操作此页面！",
                                    type: "warning",
                                    showCancelButton: false,
                                    confirmButtonText: "确定",
                                    closeOnConfirm: true
                                });
                            }
                            else {
                                sweetAlert({
                                    title:"删除失败!",
                                    text: data.message,
                                    type: "error",
                                    showCancelButton: true,
                                    confirmButtonText: "确定",
                                    cancelButtonText: "取消",
                                    closeOnConfirm: false,
                                    closeOnCancel: true
                                });
                            }
                        }
                    });
                }
            });
    }

    //获取单个担保人信息
    function changedata(id) {
        $.ajax({
            type: "get", // 用POST方式传输
            dataType: 'json',
            url: "/warrantor/queryById", // 目标地址
            data: { id :id },
            success: function (data) {
                $("#username").val(data.username);
                $("#job").val(data.job);
                $("#phone").val(data.phone);
                $("#guaranid").val(id);
            }
        });
    }

    // 修改担保人信息
    function submitform() {
        $('#myform').data('bootstrapValidator').validateField('username');
        $('#myform').data('bootstrapValidator').validateField('job');
        $('#myform').data('bootstrapValidator').validateField('phone');
        $('#myform').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#myform').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {
            var str = $("#myform").serializeObject(); //此处调用的就是我们写好的引入的方法，会将带有name的input，全部转为JSON。
            var datas = JSON.stringify(str);//返回一个新字符串
            $.ajax({
                type: "post", // 用POST方式传输
                dataType: 'json',
                url: "/warrantor/update", // 目标地址
                data: {datas: datas},
                success: function (data) {
                    if (data.code == "success") {
                        sweetAlert("", "恭喜您！修改成功！", "success");
                        setTimeout(function () {
                            window.location.href = "/loanManage/guarantee_list";
                        }, 1500);
                    }
                    else if (data.code == "403") {
                        sweetAlert({
                            title: "",
                            text: "您的账号权限不足，无法操作此页面！",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonText: "确定",
                            closeOnConfirm: true
                        });
                    }
                    else {
                        sweetAlert({
                            title: "修改失败!",
                            text: data.message,
                            type: "error",
                            showCancelButton: true,
                            confirmButtonText: "确定",
                            cancelButtonText: "取消",
                            closeOnConfirm: false,
                            closeOnCancel: true
                        });
                    }
                }
            });
        }
    }
</script>

</body>

</html>
