<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>Bitcoin recharge page</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/statics/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/statics/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/statics/css/css.css"/>
    <script  type="text/javascript" src="/statics/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/statics/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/statics/js/index.js"></script>

    <!--[if lte IE 9]>
    <script type="text/javascript" src="/statics/js/html5.min.js"></script>
    <script type="text/javascript" src="/statics/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--header star-->
<script  type="text/javascript" src="/js/ENheader.js"></script>
<!--header end-->

<div class=" p0 m0 fix-frist-top phone_frist-top">
    <div class="turn swiper-container " style="background:url(/images/hlw.jpg) no-repeat center ; height: 500px; width:100%;background-size: cover" ></div>
</div>
<!--banner end-->

<div class=" p0 m0 fix-frist-top pt30">
    <div class="container row  p0 m">
        <div class="col-lg-3 ">
            <div class="panel panel-default bid_menu" style="min-height: 550px;">
                <h4 class=" menu_title">Transaction</h4>
                <div class="panel panel-default membercollhead">
                    <div class="panel-heading" role="tab" id="heading1">
                        <h4 class="panel-title">
                            <a href="/EN/main/recharge" class="collapsed">
                                <i></i> Recharge
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="">
                                    <i></i>Withdrawal
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class=" collapse in" role="tabpanel" aria-labelledby="heading4" aria-expanded="true">
                            <div class="">
                                <ul>
                                    <li><a href="/EN/main/pos_Bank">Withdraw to the bank</a></li>
                                    <li><a href="/EN/main/pos_Alipay">Withdrawal to Alipay</a></li>
                                    <li ><a href="/EN/main/pos_WeChat">Withdrawals to WeChat</a></li>
                                    <li ><a href="/EN/main/pos_cash">Cash withdrawal</a></li>
                                    <li ><a href="/EN/main/pos_bitcoin">Bitcoin withdrawal</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title">
                                <a href="/EN/main/transfer_accounts" class="collapsed">
                                    <i></i> Transfer
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--左侧菜单 end-->
        <div class="col-lg-9 r_whitebg">
            <h3 class="page_title">Bitcoin recharge</h3>
            <div class="inblock w100">
                <form action="" method="">
                    <div class="form-group">
                        <label class="col-form-label w100">BTC wallet address</label>
                        <div class="row m0">
                            <div class="col-lg-10">
                                <input class="form-control" value="1234545aedfdfldjf545" disabled="" type="text">
                            </div>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-primary btn-lg btn-block f14">Quick copy</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h3 class="tc mb30">QR code</h3>
                        <div class="row tc ">
                            <img src="/statics/images/code.png" style="width: 200px">
                        </div>
                    </div>
                    <div class="form-group tc mt30">
                        <h3>Recharging instructions：</h3>
                        <p class="mt15">Recharge to this address, remittance is completed, waiting for the network to automatically confirm, the system will automatically arrive after confirmation; in order to quickly arrive, you can increase the network fee when recharging.</p>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<!--通用脚本-->
<script  type="text/javascript" src="/js/ENfooter.js"></script>
</body>
</html>