<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>利润分配列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/logo.png">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <!-- CSS App -->
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script  type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/jquery.notify.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>

</head>

<body class="flat-blue common_body">
<div class="bs-component">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/mainframe">系统首页</a></li>
        <li class="breadcrumb-item">资金库</li>
        <li class="breadcrumb-item active">利润分配</li>
    </ol>
</div>
<div class="page-title">
    <span class="title">利润分配</span>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div style="position: relative; left: 30%; top: 30px;">
                    <div class="inblock red f18"> <span>人民币分配总计：￥</span><b id="cnytotal"></b></div>
                    <div class="inblock ml80 green f18"> <span>美元分配总计：$</span><b id="usdtotal"></b> </div>
                </div>
                <table class="datatable table table-striped" id="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>分配对象</th>
                        <th>金额类型</th>
                        <th>分配金额</th>
                        <th>备注</th>
                        <th>操作人</th>
                        <th>创建时间</th>
                    </tr>
                    </thead>
                </table>
                <div class="batch_play inblock">
                    <a href="/capitalbank/add_profit_fp">添加分配</a>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#table').DataTable({
            "order": [6, "desc"],
            "serverSide": true,
            searching: true,
            lengthChange: true,
            paging: true,
            scrollCollapse: true,
            serverSide: false,
            search: true,
            processing: true,
            /* scrollY: 500,   表格的高度限制*/
            scrollX: "100%",
            scrollXInner: "100%",
            scrollCollapse: true,
            jQueryUI: false,
            autoWidth: true,
            autoSearch: false,
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项搜索结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 条数据",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "暂无数据",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            ajax: {
                url: "/profits/queryAll",
                dataSrc: function (data) {
                    if (data.code == "403") {
                        sweetAlert({
                                title: "",
                                text: "您的账号权限不足，无法操作此页面！",
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonText: "确定",
                                cancelButtonText: "取消",
                                closeOnConfirm: false,
                                closeOnCancel: true
                            },
                            function (isConfirm) {
                                if (isConfirm) {
                                    window.location.href = "/mainframe";
                                }
                            });
                    }
                    else {
                        var cnytotal=0;
                        var usdtotal=0;
                        for(var i=0;i<data.length; i++){
                            if(data[i].moneytype=="CNY"){
                                cnytotal+=data[i].num;
                            }
                            else {  usdtotal+=data[i].num;}
                        }
                        $("#cnytotal").html(cnytotal);
                        $("#usdtotal").html(usdtotal);
                        return data;
                    }
                },
                error: handleAjaxError //接口返回异常，超时登录
            },
            "fnDrawCallback": function () {
                this.api().column(0).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            },
            "columns": [
                {"data": "id"},
                {"data": "destobj"},
                {"data": "moneytype"},
                {"data": "num"},
                {"data": "remark"},
                {"data": "operauser"},
                {"data": "creattime"}

            ]
        });
    })
</script>

</body>

</html>
