<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>会员管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="/css/css.css">
</head>

<body class="flat-blue common_body">
<div class="bs-component">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">系统首页</a></li>
        <li class="breadcrumb-item">日志管理</li>
        <li class="breadcrumb-item active">操作日志</li>
    </ol>
</div>
<div class="page-title">
    <span class="title">操作日志</span>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table class="datatable table table-striped" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>操作人</th>
                        <th>操作内容</th>
                        <th>登录ip</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2018-04-21 21:21:44</td>
                        <td>admin</td>
                        <td>修改密码</td>
                        <td>192.145.2.32</td>
                    </tr>
                    <tr>
                        <td>2018-04-21 21:21:44</td>
                        <td>admin</td>
                        <td>修改密码</td>
                        <td>192.145.2.32</td>
                    </tr>
                    <tr>
                        <td>2018-04-21 21:21:44</td>
                        <td>admin</td>
                        <td>修改密码</td>
                        <td>192.145.2.32</td>
                    </tr>
                    <tr>
                        <td>2018-04-21 21:21:44</td>
                        <td>admin</td>
                        <td>修改密码</td>
                        <td>192.145.2.32</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!-- Javascript Libs -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-switch.min.js"></script>

<script type="text/javascript" src="/js/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/js/select2.full.min.js"></script>
<!-- Javascript -->
<script type="text/javascript" src="/js/app.js"></script>
</body>

</html>
