<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>Recover password Page</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="/js/html5.min.js"></script>
    <script  type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
</head>
<body >
<div class="find_top">
    <div class="container">
        <div class="inblock l">
            <img src="/images/logo.png" style="height:50px">
        </div>
        <div class="inblock r">
            <a href="javascript:history.back(-1)" >Return</a>
        </div>
    </div>
</div>
<div class=" mt60 ">
    <h2 class="tc "><img src="/images/icon_findpsw.png" class="mr30" style="width: 60px; ">Recover password </h2>
    <div class="border_t mt50">
        <div class="find_step1" id="find_step1">
            <div class="tc mt50">
                <img src="/images/find_step1.png" >
            </div>
            <div class="m step_block mt50" >
                <form id="formone">
                    <div class="form-group">
                        <label class="col-form-label">Enter the account you need to retrieve：</label>
                        <input type="text" class="form-control" placeholder="Please enter phone number" maxlength="11" id="Telephone" name="telphone">
                    </div>
                    <div class="form-group">
                        <div class="w100 inblock"> <input class="form-control  l mr15 " style="width: 70%;" maxlength="11"  name="checknum"  placeholder="请输入验证码" id="checknum"  type="text">
                            <button type="button" class="btn btn-primary code_btn r mr5 f14" id="getcode">Send code</button>
                        </div>
                        <div id="telephonenameTip"></div>
                    </div>
                    <div class="bs-component mt20 inblock w100 tc">
                        <button type="button" id="nextstep_btn" onclick = "nextstep()" class="btn btn-primary f14">Next step</button>
                    </div>
                </form>
            </div>
        </div>
        <!--step1 end-->

        <div class="find_step1" style="display: none"  id="find_step2">
            <div class="tc mt50">
                <img src="/images/find_step2.png" >
            </div>
            <div class="m step_block mt50" >
                <form  id="formtwo">
                    <div class="form-group">
                        <label class="col-form-label" >Please enter your new password：</label>
                        <input type="text" class="form-control" placeholder="请输入新密码" maxlength="11" name="password">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" >Please confirm your new password：</label>
                        <input class="form-control " maxlength="11"  placeholder="Please confirm your new password"  type="text" name="ConfirmPassword">
                    </div>
                    <div class="bs-component mt20 inblock w100 tc">
                        <button type="button" id="savebtn" onclick="save()" class="btn btn-primary f14">CONFIRM</button>
                    </div>
                    <input type="hidden" id="telnum" name="telphone" value="">
                    <input type="hidden"  name="checknum" id="checkcode">
                </form>
            </div>
        </div>
        <!--step2 end-->

    </div>
</div>


<script type="text/javascript">
    // 第一步
    function nextstep() {

        $('#formone').data('bootstrapValidator').enableFieldValidators('telphone', true);
        $('#formone').data('bootstrapValidator').enableFieldValidators('checknum', true);
        $('#formone').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#formone').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {

            $('#nextstep_btn').prop('disabled', true);
            $.post("/user/findpsw", $("#formone").serialize(), function (data) {
                if (strToJson(data).code=="success") {
                    $("#find_step1").hide();
                    $("#find_step2").show();
                    var code=$("#checknum").val();
                    $("#checkcode").val(code);
                }
                else {
                    sweetAlert("", strToJson(data).message, "error");
                    $('#nextstep_btn').prop('disabled', false);
                }
            });
        }
    }
    // 第二步
    function save() {
        var telephonenum = $("#Telephone").val();
        $("#telnum").val(telephonenum);
        console.log( $("#telnum").val(telephonenum));
        $('#formtwo').data('bootstrapValidator').enableFieldValidators('password', true);
        $('#formtwo').data('bootstrapValidator').enableFieldValidators('ConfirmPassword', true);
        $('#formtwo').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#formtwo').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {
            $('#savebtn').prop('disabled', true);
            $.post("/user/resetpwd", $("#formtwo").serialize(), function (data) {
                if (strToJson(data).code=="success") {
                    // sweetAlert("", "重置成功！", "success");
                    sweetAlert({
                            title: "Password reset success.",
                            type: "success",
                            showConfirmButton: false
                        },
                        function(isConfirm){
                            if (isConfirm) {
                                window.location.href = "/EN/login";
                            }
                        });
                }
                else {
                    sweetAlert("", "Reset failure.", "error");
                    $('#savebtn').prop('disabled', false);
                }
            });
        }
    }

    $(function () {
        $('#formtwo').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'password': {
                    validators: {
                        notEmpty: {
                            message: 'The password can not be empty'
                        },
                        stringLength: {
                            /*长度提示*/
                            min: 6,
                            max: 30,
                            message: 'Password length must be between 6 and 30'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'A password is made up of numeric letters and points'
                        }
                    }
                },
                'ConfirmPassword': {
                    message: 'Invalid password',
                    validators: {
                        notEmpty: {
                            message: 'The password can not be empty'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'Password length must be between 6 and 30'
                        },
                        identical: {//相同
                            field: 'password',
                            message: 'Two passwords are inconsistent'
                        },
                        regexp: {//匹配规则
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'A password is made up of numeric letters and points'
                        }
                    }
                }
            }
        })
        $('#formone').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'telphone': {
                    message: 'Illegal mobile phone number',
                    validators: {
                        notEmpty: {
                            message: 'Phone number cannot be empty'
                        },
                        regexp: {
                            regexp: /^1[356789][0-9]{9}$/,
                            message: 'Illegal mobile phone number'
                        },
                        // remote: {//ajax验证。server result:{"valid",true or false} 向服务发送当前input name值，获得一个json数据。例表示正确：{"valid",true}
                        //     url: '/User/CheckTelephoneUnExist',//验证
                        //     message: '用户不存在',
                        //     delay: 500,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                        //     type: 'POST'//请求方式
                        // }

                    }
                },
                'checknum': {
                    validators: {
                        notEmpty: {
                            message: 'SMS verification code cannot be empty'
                        }
                    }
                }

            }
        })

        // 获取验证码
        $("#getcode").click(function () {
            //获取输入的手机号码
            var phoNum = $("#Telephone").val();
            // $("#registerForm").data("bootstrapValidator").validateField('telphone');
            // if (!$("#registerForm").data("bootstrapValidator").validateField('telphone').isValid()) {
            //     return;
            // }
            curCount = count;

            // 向后台发送处理数据
            $.ajax({
                type: "post", // 用POST方式传输
                dataType: 'json',
                url: "/user/checkPhone", // 目标地址
                data: { "telphone":phoNum },
                error: function (data) {
                    sweetAlert("", strToJson(data).message, "error");
                },
                success: function (data) {
                    // debugger;
                    if (data.code=="fail") {
                        $("#getcode").attr("disabled", false);
                        $("#getcode").text("Resend code");
                        $("#telephonenameTip").html("<font color='red'>× SMS verification code failed to send, please resend</font>");
                        return false;

                    } else {
                        // 设置按钮显示效果，倒计时
                        $("#getcode").attr("disabled", "true");
                        $("#getcode").text("Please try again in" + curCount + "second");
                        InterValObj = window.setInterval(SetRemainTime, 1000); // 启动计时器，1秒执行一次
                        $("#telephonenameTip").html("<font color='#339933'>√ SMS verification code has been sent to your mobile phone. Please check it (within 20 minutes)</font>");
                    }
                }
            });

        });
    })
    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);// 停止计时器
            $("#getcode").attr("disabled", false);
            $("#getcode").text("Resend code");
            $("#telephonenameTip").text("");

            code = ""; // 清除验证码。如果不清除，过时间后，输入收到的验证码依然有效
        } else {
            curCount--;
            $("#getcode").text("Please try again in" + curCount + "second");
        }
    }
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    var code = ""; //验证码
    var codeLength = 6;//验证码长度
</script>
</body>
</html>