<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>Register Page</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/css.css"/>
    <link  rel="stylesheet" type="text/css"  href="/css/sweet-alert.css"/>
    <script  type="text/javascript" src="/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
    <script  type="text/javascript" src="/js/sweet-alert.min.js"></script>
    <script  type="text/javascript" src="/js/common.js"></script>
    <!--[if lte IE 9]>
    <script  type="text/javascript" src="/js/html5.min.js"></script>
    <script  type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login_bg">
<div class="m " style="width: 455px;margin-top: 6%">
    <div class="login_logo tc"><a href="/"><img src="/images/logo.png" ></a></div>
    <div class="w100 inblock">
        <form id="registerForm">
            <div class="login_form">
                <div class="form-group  login_input mb15">
                    <div class="inblock w100">
                        <i class="icon user"></i>
                        <div id="area_select" class="area_select area_num_select l">
                            <h4><span>Choose the country</span> <i></i></h4>
                            <div id="area_option" class="area_option" style="display: none;width: 190px;">
                                <a data-id="">Mainland China(default)</a>
                                <a data-id="852">Hongkong, China</a>
                                <a data-id="855 ">Cambodia</a>
                                <a data-id="65 ">Singapore</a>
                                <a data-id="60 ">Malaysia</a>
                                <a data-id="66 ">Thailand</a>
                                <a data-id="95 ">Myanmar</a>
                                <a data-id="62 ">Indonesia</a>
                                <a data-id="63 ">Philippines</a>
                                <a data-id="84 ">Vietnam</a>
                                <a data-id="856 ">Laos</a>
                                <a data-id="673 ">Brunei</a>
                            </div>
                        </div>
                        <input type="text" class="form-control r" name="phone" id="phone" placeholder="Phone Number" onkeydown="javascript: if(event.keyCode == 13) save();" style="width:42%;margin-left: 0" oninput="phonenum()"/>
                        <input type="hidden" name="telphone"  id="Telephone" >
                        <input type="hidden" id="areanum">
                    </div>
                </div>
                <div class="form-group login_input mb15">
                    <i class="icon password"></i>
                    <input type="password" class="form-control" name="password" onkeydown="javascript: if(event.keyCode == 13) save();"  placeholder="Password"/>
                </div>
                <div class="form-group login_input ">
                    <div class="w100 inblock"><input type="text" class="form-control l codenum" name="checkNum" placeholder="SMS Code" size="22" maxlength="10" style="width: 58%"><button type="button" class="btn btn-primary code_btn r mr5" id="getcode">Send Code</button>
                    </div>
                </div>
                <div id="telephonenameTip"></div>
                <div class="bs-component mt30"><button type="button"  class="btn btn-primary btn-lg btn-block red_bg register_btn" id="saveID" onclick="save()">REGISTER</button></div>
            </div>
        </form>

    </div>
    <p class="tc mt30 g9">© 2018 Copyright Southern International Currency Exchange</p>
    <p class="tc g9 pb20"> Customer service hotline:+8550968888088</p>
</div>


<script type="text/javascript">
    // 模拟重写select
    $("#area_select").click(function (event) {
        $("#area_option").toggle();
        event.stopImmediatePropagation();//取消事件冒泡；
    });
    $('#area_option a').on('click',function(){
        var selTxt=$(this).text();
        $('#area_select h4 span').text(selTxt);
        var areanum=$(this).attr('data-id');
        $("#areanum").val(areanum);
        var number=$("#phone").val()
        $("#Telephone").val($("#areanum").val()+number);
    });
    $(document).bind("click",function(){
        $("#area_option").hide();
    });
    // 输入电话号码实时赋值
    function phonenum() {
        var number=$("#phone").val()
        $("#Telephone").val($("#areanum").val()+number);
    }
    function save() {
        $('#registerForm').data('bootstrapValidator').enableFieldValidators('phone', true);
        $('#registerForm').data('bootstrapValidator').enableFieldValidators('checkNum', true);
        $('#registerForm').data('bootstrapValidator').enableFieldValidators('password', true);
        $('#registerForm').data('bootstrapValidator').validate();//手动对表单进行校检
        if (!$('#registerForm').data('bootstrapValidator').isValid()) {//判断校检是否通过
            return;
        } else {
            // $('#saveID').prop('disabled', true);
            $.post("/user/register", $("#registerForm").serialize(), function (data) {
                if (strToJson(data).code=="success") {
                    sweetAlert("", "congratulations, registration success.", "success");
                    setTimeout(function () {
                        window.location.href = "/EN/login";
                    }, 1500);
                }
                else {
                    sweetAlert("", strToJson(data).message, "error");
                    // $('#saveID').prop('disabled', false);
                }
            });
        }
    }
    $(function () {
        $('#registerForm').bootstrapValidator({
            feedbackIcons: {
                //valid: 'glyphicon glyphicon-ok',
                //invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'phone': {
                    message: 'For Hongkong and foreign mobile phones, please select the drop-down box first',
                    validators: {
                        notEmpty: {
                            message: 'Phone number cannot be empty'
                        },
                        digits: {
                            message: 'Phone number can only be digital'
                        }
                    }
                },
                'checkNum': {
                    validators: {
                        notEmpty: {
                            message: 'SMS verification code cannot be empty'
                        }
                    }
                },
                'password': {
                    validators: {
                        notEmpty: {
                            message: 'The password can not be empty'
                        },
                        stringLength: {
                            /*长度提示*/
                            min: 6,
                            max: 30,
                            message: 'The password length must be between 6 and 30'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'A password is made up of numeric letters and points'
                        }
                    }
                }
            }
        })
        $("#getcode").click(function () {
            //获取输入的手机号码
            var phoNum = $("#Telephone").val();
            $("#registerForm").data("bootstrapValidator").validateField('phone');
            curCount = count;

            // 向后台发送处理数据
            $.ajax({
                type: "post", // 用POST方式传输
                dataType: 'json',
                url: "/user/checkPhone", // 目标地址
                data: { "telphone":phoNum },
                error: function (data) {
                    sweetAlert("", data.message, "error");
                },
                success: function (data) {
                    // debugger;
                    if (data.code=="fail") {
                        $("#getcode").attr("disabled", false);
                        $("#getcode").text("Resend code");
                        $("#telephonenameTip").html("<font color='red'>× SMS authentication code failed, please resend</font>");
                        return false;

                    } else {
                        // 设置按钮显示效果，倒计时
                        $("#getcode").attr("disabled", "true");
                        $("#getcode").text("Please try again in" + curCount + "second");
                        InterValObj = window.setInterval(SetRemainTime, 1000); // 启动计时器，1秒执行一次
                        $("#telephonenameTip").html("<font color='#339933'>√ SMS verification code has been sent to your mobile phone. Please check it (within 20 minutes)</font>");
                    }
                }
            });

        });
    });

    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj);// 停止计时器
            $("#getcode").attr("disabled", false);
            $("#getcode").text("Resend verification code");
            $("#telephonenameTip").text("");

            code = ""; // 清除验证码。如果不清除，过时间后，输入收到的验证码依然有效
        } else {
            curCount--;
            $("#getcode").text("Please try again in" + curCount + "second");
        }
    }
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    var code = ""; //验证码
    var codeLength = 6;//验证码长度
</script>


</body>
</html>