<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>交易列表</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="../../statics/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../statics/css/daterangepicker-bs3.css"/>
    <link rel="stylesheet" type="text/css" href="../../statics/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../statics/css/css.css"/>
    <script  type="text/javascript" src="../../statics/js/jquery1.12.4.js"></script>
    <script  type="text/javascript" src="../../statics/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../statics/js/moment.js"></script>
    <script type="text/javascript" src="../../statics/js/daterangepicker.js"></script>
    <!--[if lte IE 9]>
    <script type="text/javascript" src="../../statics/js/html5.min.js"></script>
    <script type="text/javascript" src="../../statics/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--header star-->
<div class="navbar navbar-default navbar-fixed-top top-main ">
    <div class="container-fluid top-bar p0 car_bg f12 bl3">
        <div class="container row m p0">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 tr">
                <div id="log_bar_link" class="log_bar_link r gray" style="display:none;">
                    <a class=" pr10" href="../login.html">登录</a><span class="white">|</span>
                    <a class=" pl10" href="../register.html">注册</a>
                </div>
                <div class="nav r user_info" >
                    <div class=" dropdown ">
                        <a class="nav-link dropdown-toggle">admin<i class="icon_down"></i></a>
                        <div class="dropdown-menu " style="display: none" >
                            <a class="dropdown-item" href="../my/my_account.html">我的账户</a>
                            <a class="dropdown-item" href="../my/my_money.html">我的余额</a>
                            <a class="dropdown-item" href="../my/primary.html">我的资料</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar_block">
        <div class="container row p0 m ">
            <div class="col-lg-2 "><a href=""><img class="logo" src="../../statics/images/logo.png" alt="" ></a></div>
            <div class="col-lg-10 mt20">
                <!--nav-->
                <div class="row">
                    <div class="col-lg-12 nav " >
                        <ul class="nav-con navbar-nav">
                            <li ><a href="../index.html" id="h_index" class="">首页</a></li>
                            <li class=" dropdown ">
                                <a class="nav-link dropdown-toggle ">我的<i class="icon_down"></i></a>
                                <div class="dropdown-menu " style="display: none" >
                                    <a class="dropdown-item" href="../my/my_account.html">我的账户</a>
                                    <a class="dropdown-item" href="../my/my_money.html">我的余额</a>
                                    <a class="dropdown-item" href="../my/information.html">我的资料</a>
                                    <a class="dropdown-item" href="../my/message.html">我的消息</a>
                                </div>
                            </li>
                            <li ><a href="../main/recharge.html" >充值</a></li>
                            <li ><a href="../main/trans_cash.html" >提现</a></li>
                            <li ><a href="../main/transfer_accounts.html" >转账</a></li>
                            <li><a href="../currency_exchange/exchange.html">货币兑换</a></li>
                            <li ><a href="../nonCardCash/cash_in.html">无卡取现</a></li>
                            <li class=" dropdown ">
                                <a class="nav-link dropdown-toggle cur">更多<i class="icon_down"></i></a>
                                <div class="dropdown-menu " style="display: none" >
                                    <a class="dropdown-item" href="../more/financial.html">智慧理财</a>
                                    <a class="dropdown-item" href="../more/life_payment.html">生活缴费</a>
                                    <a class="dropdown-item" href="../more/trade_list.html">交易记录</a>
                                    <a class="dropdown-item" href="../more/active_list.html">活动记录</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <!--nav-->
            </div>
        </div>
    </div>
</div>

<div class=" p0 m0 fix-frist-top">
    <div class="turn swiper-container " style="background:url(../../statics/images/bwrs.jpg) no-repeat center ; height: 500px; width:100%;" ></div>
</div>
<!--banner end-->

<div class=" p0 m0 fix-frist-top pt30" id="main_con">
    <div class="container row  p0 m">
        <div class="col-lg-3 ">
            <div class="panel panel-default bid_menu" style="min-height: 515px;">
                <h4 class=" menu_title">更多</h4>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title">
                                <a href="../more/financial.html" class="collapsed">
                                    <i></i>智慧理财
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading4">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4" class="">
                                    <i></i>生活缴费
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class=" collapse in" role="tabpanel" aria-labelledby="heading4" aria-expanded="true">
                            <div class="">
                                <ul>
                                    <li class="cur"><a href="../more/phone_charge.html">话费充值</a></li>
                                    <li><a href="../more/water_charge.html">水费代缴</a></li>
                                    <li ><a href="../more/ele_charge.html">电费代缴</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title">
                                <a href="../more/trade_list.html" class="collapsed">
                                    <i></i>交易记录
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default membercollhead">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title">
                                <a href="../more/active_list.html" class="collapsed">
                                    <i></i>活动记录
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--左侧菜单end-->
        <div class="col-lg-9 r_whitebg">
            <h3 class="page_title">历史交易</h3>
            <div class="bs-component title_tab inblock w100">
                <ul class=" nav-tabs inblock w100">
                    <ul class=" nav-tabs inblock w100">
                        <li class="nav-item ">
                            <a class="nav-link  " href="trade_list.html#main_con" ><i class="trade_ing"></i>进行中交易</a>
                        </li>
                        <li class="nav-item cur">
                            <a class="nav-link" href="trade_history.html#main_con" ><i class="trade_history"></i>历史交易</a>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="w100 inblock mt30">
                <div class=" inblock l mr15">
                    <label class="col-form-label" >账户卡号</label>
                    <input type="text" class="form-control" placeholder="关键字" id="">
                </div>
                <div class="control-group inblock date_select mr10 l">
                    <label class="col-form-label" >从</label>
                    <div class="input-prepend input-group ">
                        <input type="text" readonly style="width: 200px" name="startime" id="startime" class="form-control" value="2018-04-09" /><span class="add-on input-group-addon"><i class="icon_date"></i></span>
                    </div>
                </div>
                <div class="control-group inblock date_select mr10 l">
                    <label class="col-form-label" >到</label>
                    <div class="input-prepend input-group">
                        <input type="text" readonly style="width: 200px" name="endtime" id="endtime" class="form-control" value="2018-04-09" /><span class="add-on input-group-addon"><i class="icon_date"></i></span>
                    </div>
                </div>
                <div class=" inblock l" style="padding-top: 27px;">
                    <button type="button" class="btn btn-primary yellow_btn" data-toggle="modal" data-target="#myModal">搜索</button>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#startime').daterangepicker({  startDate:"2018-04-09",singleDatePicker: true }, function(start, end, label) {
                            console.log(start.toISOString(), end.toISOString(), label);

                        });
                        $('#endtime').daterangepicker({  startDate:"2018-04-09",singleDatePicker: true }, function(start, end, label) {
                            console.log(start.toISOString(), end.toISOString(), label);

                        });
                    });
                </script>

            </div>
            <div class="row mt20">
                <div class="inblock w100">
                    <table width="100%"  cellspacing="0" cellpadding="0" border="1"   class="table">
                        <thead>
                        <tr>
                            <th>时间</th>
                            <th>账户卡号</th>
                            <th>收入/支出</th>
                            <th>货币</th>
                            <th>余额</th>
                            <th>状态</th>
                            <th>业务类型</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2018-02-21</td>
                            <td>513265644878787878</td>
                            <td><span class="green">+10000</span></td>
                            <td>美元</td>
                            <td>1000100</td>
                            <td>交易成功</td>
                            <td>兑换</td>
                            <td>无</td>
                        </tr>
                        <tr>
                            <td>2018-02-21</td>
                            <td>513265644878787878</td>
                            <td><span class="red">-10000</span></td>
                            <td>美元</td>
                            <td>1000100</td>
                            <td>交易成功</td>
                            <td>兑换</td>
                            <td>无</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="inblock w100 tc">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#">«</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">»</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--通用脚本-->
<div class="footer">
    <div class="container row p0 m mt20 border-t tc pt20 pb20 ">
        <a href="../index.html" target="_blank">首页</a><span>|</span>
        <a href="../my/primary.html" target="_blank">我的</a><span>|</span>
        <a href="../nonCardCash/cash_in.html" target="_blank">无卡取现</a><span>|</span>
        <a href="../currency_exchange/exchange.html" target="_blank">货币兑换</a><span>|</span>
        <a href="../more/financial.html" target="_blank">更多</a>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".nav-tabs .nav-item").on({click:function(){
            $(this).addClass("cur").siblings().removeClass("cur");
        }
        })
    })
</script>
</body>
</html>